In [21]:
import sqlite3

#01) Write a sql query to get books that has rate >=3 and has 'Mr' in its name
connection=sqlite3.connect('lec10_booktables_shimaaelsayed.db')
rows=connection.execute("select * from booktitle_price_rate where rate >=3 and booktitle like '%Mr%'").fetchall()
connection.close()
if rows==[]:
    print('Data Doesnt exist')
else:    
    for book,price,rate  in rows :
        print(f'book name: {book} its price: {price} and rate:{rate} ')

Data Doesnt exist

In [23]:
#02) Write a sql query to get books that has rate >=3 or price > 20
connection=sqlite3.connect('lec10_booktables_shimaaelsayed.db')
rows=connection.execute("select * from booktitle_price_rate where rate >=3 and price>20").fetchall()
connection.close()
if rows==[]:
    print('Data Doesnt exist')
else:    
    for book,price,rate  in rows :
        print(f'book name: {book} its price: {price} and rate:{rate} ')

book name: A Light in the Attic its price: 51.77 and rate:3
book name: Sharp Objects its price: 47.82 and rate:4
book name: Sapiens: A Brief History of Humankind its price: 54.23 and rate:5
book name: The Dirty Little Secrets of Getting Your Dream Job its price: 33.34 and rate:4
book name: The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics its price: 22.6 and rate:4
book name: Shakespeare's Sonnets its price: 20.66 and rate:4
book name: Scott Pilgrim's Precious Little Life (Scott Pilgrim #1) its price: 52.29 and rate:5
book name: Rip it Up and Start Again its price: 35.02 and rate:5
book name: Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991 its price: 57.25 and rate:3

In [25]:
#03) Write a sql query to get books that has rate not 3

connection=sqlite3.connect('lec10_booktables_shimaaelsayed.db')
rows=connection.execute("select * from booktitle_price_rate where rate !=3 ").fetchall()
connection.close()
if rows==[]:
    print('Data Doesnt exist')
else:    
    for book,price,rate  in rows :
        print(f'book name: {book} its price: {price} and rate:{rate} ')

book name: Tipping the Velvet its price: 53.74 and rate:1
book name: Soumission its price: 50.1 and rate:1
book name: Sharp Objects its price: 47.82 and rate:4
book name: Sapiens: A Brief History of Humankind its price: 54.23 and rate:5
book name: The Requiem Red its price: 22.65 and rate:1
book name: The Dirty Little Secrets of Getting Your Dream Job its price: 33.34 and rate:4
book name: The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics its price: 22.6 and rate:4
book name: The Black Maria its price: 52.15 and rate:1
book name: Starving Hearts (Triangular Trade Trilogy, #1) its price: 13.99 and rate:2
book name: Shakespeare's Sonnets its price: 20.66 and rate:4
book name: Set Me Free its price: 17.46 and rate:5
book name: Scott Pilgrim's Precious Little Life (Scott Pilgrim #1) its price: 52.29 and rate:5
book name: Rip it Up and Start Again its price: 35.02 and rate:5
book name: Olio its price: 23.88 and rate:1
book name: Mesaerion: The Best Science Fiction Stories 1800-1849 its price: 37.59 and rate:1
book name: Libertarianism for Beginners its price: 51.33 and rate:2
book name: It's Only the Himalayas its price: 45.17 and rate:2

In [27]:
#04) Write a sql query to get books that has price between 10 and 40 and has rate 3 or 4 or 1
connection=sqlite3.connect('lec10_booktables_shimaaelsayed.db')
rows=connection.execute("select * from booktitle_price_rate where rate in (1,3,4) and price between 10 and 20").fetchall()
connection.close()
if rows==[]:
    print('Data Doesnt exist')
else:    
    for book,price,rate  in rows :
        print(f'book name: {book} its price: {price} and rate:{rate} ')

book name: The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull its price: 17.93 and rate:3

In [29]:
#05) Write a sql query to get the top 5 most expensive books 
#(order books desc with price column and then limit the result to the first 5).

connection=sqlite3.connect('lec10_booktables_shimaaelsayed.db')
rows=connection.execute("select * from booktitle_price_rate order by price desc limit 5").fetchall()
connection.close()
if rows==[]:
    print('Data Doesnt exist')
else:    
    for book,price,rate  in rows :
        print(f'book name: {book} its price: {price} and rate:{rate} ')

book name: Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991 its price: 57.25 and rate:3
book name: Sapiens: A Brief History of Humankind its price: 54.23 and rate:5
book name: Tipping the Velvet its price: 53.74 and rate:1
book name: Scott Pilgrim's Precious Little Life (Scott Pilgrim #1) its price: 52.29 and rate:5
book name: The Black Maria its price: 52.15 and rate:1

In [35]:
#06) Write a sql query to get the 3rd 10 books in the books table order first by rate desc and then by price asc

connection=sqlite3.connect('lec10_booktables_shimaaelsayed.db')
rows=connection.execute("select * from booktitle_price_rate order by rate desc , price asc limit 10 offset 2").fetchall()
connection.close()
if rows==[]:
    print('Data Doesnt exist')
else:    
    for book,price,rate  in rows :
        print(f'book name: {book} its price: {price} and rate:{rate} ')

book name: Scott Pilgrim's Precious Little Life (Scott Pilgrim #1) its price: 52.29 and rate:5
book name: Sapiens: A Brief History of Humankind its price: 54.23 and rate:5
book name: Shakespeare's Sonnets its price: 20.66 and rate:4
book name: The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics its price: 22.6 and rate:4
book name: The Dirty Little Secrets of Getting Your Dream Job its price: 33.34 and rate:4
book name: Sharp Objects its price: 47.82 and rate:4
book name: The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull its price: 17.93 and rate:3
book name: A Light in the Attic its price: 51.77 and rate:3
book name: Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991 its price: 57.25 and rate:3
book name: Starving Hearts (Triangular Trade Trilogy, #1) its price: 13.99 and rate:2

In [50]:
#07) Write a sql query to add a new category in categories table and add 5 books to this category
#in books table with title, rate and price

connection=sqlite3.connect('lec10_booktables_shimaaelsayed.db')

cur = connection.cursor()
# Insert data

cur.execute("INSERT INTO booktitle_price_rate VALUES ('book1',1,1)")
cur.execute("INSERT INTO booktitle_price_rate VALUES ('book2',2,2)")
cur.execute("INSERT INTO booktitle_price_rate VALUES ('book3',3,3)")
cur.execute("INSERT INTO booktitle_price_rate VALUES ('book4',4,4)")
cur.execute("INSERT INTO booktitle_price_rate VALUES ('book5',5,5)")


# Save (commit) the changes
connection.commit()

connection.close()

In [54]:
#checking if executed
connection=sqlite3.connect('lec10_booktables_shimaaelsayed.db')
rows=connection.execute("select * from booktitle_price_rate").fetchall()
connection.close()
if rows==[]:
    print('Data Doesnt exist')
else:    
    for book,price,rate  in rows :
        print(f'book name: {book} its price: {price} and rate:{rate} ')

book name: A Light in the Attic its price: 51.77 and rate:3
book name: Tipping the Velvet its price: 53.74 and rate:1
book name: Soumission its price: 50.1 and rate:1
book name: Sharp Objects its price: 47.82 and rate:4
book name: Sapiens: A Brief History of Humankind its price: 54.23 and rate:5
book name: The Requiem Red its price: 22.65 and rate:1
book name: The Dirty Little Secrets of Getting Your Dream Job its price: 33.34 and rate:4
book name: The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull its price: 17.93 and rate:3
book name: The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics its price: 22.6 and rate:4
book name: The Black Maria its price: 52.15 and rate:1
book name: Starving Hearts (Triangular Trade Trilogy, #1) its price: 13.99 and rate:3
book name: Shakespeare's Sonnets its price: 20.66 and rate:4
book name: Set Me Free its price: 17.46 and rate:3
book name: Scott Pilgrim's Precious Little Life (Scott Pilgrim #1) its price: 52.29 and rate:5
book name: Rip it Up and Start Again its price: 35.02 and rate:5
book name: Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991 its price: 57.25 and rate:3
book name: Olio its price: 23.88 and rate:1
book name: Mesaerion: The Best Science Fiction Stories 1800-1849 its price: 37.59 and rate:1
book name: Libertarianism for Beginners its price: 51.33 and rate:2
book name: It's Only the Himalayas its price: 45.17 and rate:2
book name: book1 its price: 1.0 and rate:3
book name: book2 its price: 2.0 and rate:3
book name: book3 its price: 3.0 and rate:3
book name: book4 its price: 4.0 and rate:3
book name: book5 its price: 5.0 and rate:3

In [51]:
#08) Write a sql query to update book's rate to 3 that thier price < 20£


connection=sqlite3.connect('lec10_booktables_shimaaelsayed.db')

cur = connection.cursor()
# Insert data

cur.execute("update booktitle_price_rate set rate=3 where price<20")



# Save (commit) the changes
connection.commit()

connection.close()

In [53]:
#checking if executed
connection=sqlite3.connect('lec10_booktables_shimaaelsayed.db')
rows=connection.execute("select * from booktitle_price_rate where price<20").fetchall()
connection.close()
if rows==[]:
    print('Data Doesnt exist')
else:    
    for book,price,rate  in rows :
        print(f'book name: {book} its price: {price} and rate:{rate} ')

book name: The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull its price: 17.93 and rate:3
book name: Starving Hearts (Triangular Trade Trilogy, #1) its price: 13.99 and rate:3
book name: Set Me Free its price: 17.46 and rate:3
book name: book1 its price: 1.0 and rate:3
book name: book2 its price: 2.0 and rate:3
book name: book3 its price: 3.0 and rate:3
book name: book4 its price: 4.0 and rate:3
book name: book5 its price: 5.0 and rate:3

In [56]:
#09) Write a sql query to delete all books that have price > 50£ and has rate <= 2.


connection=sqlite3.connect('lec10_booktables_shimaaelsayed.db')

cur = connection.cursor()
# Insert data

cur.execute("delete from booktitle_price_rate where price>50 and rate <=2 ")



# Save (commit) the changes
connection.commit()

connection.close()

In [58]:
#checking if executed
connection=sqlite3.connect('lec10_booktables_shimaaelsayed.db')
rows=connection.execute("select * from booktitle_price_rate where price>50 and rate<=2").fetchall()
connection.close()
if rows==[]:
    print('Data Doesnt exist')
else:    
    for book,price,rate  in rows :
        print(f'book name: {book} its price: {price} and rate:{rate} ')

Data Doesnt exist

In [77]:
#10) Write a sql query to count the number of books that have 'Secret' in thier names and price
#between 10£ and 25£.

connection=sqlite3.connect('lec10_booktables_shimaaelsayed.db')
rows=connection.execute("select count(BookTitle) from booktitle_price_rate where BookTitle like '%Secret%' and price between 10 and 25").fetchall()
connection.close()
if rows==[]:
    print('Data Doesnt exist')
else:    
    print("the number of books that have 'Secret' in thier names and price between 10£ and 25£ is: ",rows[0][0])

the number of books that have 'Secret' in thier names and price between 10£ and 25£ is:  0

In [74]:
#11) Write a sql query to get the minimum & maximum price for all the books that have rate 5.

connection=sqlite3.connect('lec10_booktables_shimaaelsayed.db')
rows=connection.execute("select min(price) from booktitle_price_rate  where rate=5 ").fetchall()
connection.close()
if rows==[]:
    print('Data Doesnt exist')
else:    
    print("the minimum price of rate=5 : ",rows[0][0])
connection=sqlite3.connect('booktitle_price_rate.db')
rows=connection.execute("select max(price) from booktitle_price_rate where rate=5 ").fetchall()
connection.close()
if rows==[]:
    print('Data Doesnt exist')
else:    
    print("the maximum price of rate=5 : ",rows[0][0])

the minimum price of rate=5 :  35.02
the maximum price of rate=5 :  54.23

In [78]:
#12) Write a sql query to calculate the avg price for all the books that have rate 5.

connection=sqlite3.connect('lec10_booktables_shimaaelsayed.db')
rows=connection.execute("select avg(price) from booktitle_price_rate where rate=5 ").fetchall()
connection.close()

if rows==[]:
    print('Data Doesnt exist')
else:    
    print("the avg price for all the books that have rate 5 : ",rows[0][0])

the avg price for all the books that have rate 5 :  47.18

In [81]:
#13) Write a sql query to sum all book's price that have rate 2 and price between 10 and 40

connection=sqlite3.connect('lec10_booktables_shimaaelsayed.db')
rows=connection.execute("select sum(price) from booktitle_price_rate where rate=2 and price between 10 and 40 ").fetchall()
connection.close()

if rows==[]:
    print('Data Doesnt exist')
else:    
    print("the sum of all book's price that have rate 2 and price between 10 and 40: ",rows[0][0])

the sum of all book's price that have rate 2 and price between 10 and 40:  None

In [3]:
# 14) Write a sql query to join both books & categories table into one new table containing
#book_name & category_name & book_rate and book_price
import sqlite3
connection=sqlite3.connect('lec10_booktables_shimaaelsayed.db')
rows=connection.execute("SELECT booktitle_price_rate.BookTitle, booktitle_price_rate.price, booktitle_price_rate.rate, categories_and_books.BookTitle, categories_and_books.Category FROM booktitle_price_rate FULL OUTER JOIN categories_and_books ON booktitle_price_rate.BookTitle=categories_and_books.BookTitle ").fetchall()
connection.close()

if rows==[]:
    print('Data Doesnt exist')
else:    
    print("the sum of all book's price that have rate 2 and price between 10 and 40: ",rows[0][0])

OperationalError: RIGHT and FULL OUTER JOINs are not currently supported

In [22]:
#15) Write a sql query to calculate how many books each rate has and have price between 20£ and 30£


connection=sqlite3.connect('lec10_booktables_shimaaelsayed.db')
rows=connection.execute("select rate, count(BookTitle) from booktitle_price_rate where price between 20 and 30 group by rate").fetchall()
connection.close()

if rows==[]:
    print('Data Doesnt exist')
else:    
    for rate,count in rows :
        print(f'rate: {rate} its count: {count} ')

rate: 1 its count: 2
rate: 4 its count: 2

In [23]:
#16) Write a sql query to calculate how many books each category has having count > 10.

connection=sqlite3.connect('lec10_booktables_shimaaelsayed.db')
rows=connection.execute("select category, count(BookTitle) from categories_and_books").fetchall()
connection.close()

if rows==[]:
    print('Data Doesnt exist')
else:    
    for category,count in rows :
        print(f'category: {category} its count: {count} ')

category: Travel its count: 517

In [ ]:
#17) Write a sql query to get all books with category_name='Music' using subquery.

In [ ]:
# read db using pandas