# Task 1

In [1]:
import requests
from bs4 import BeautifulSoup
import csv
import pandas as pd
import numpy as np
from datetime import datetime
import time
start_time = time.time()

url='https://books.toscrape.com'
response=requests.get(url)
soup=BeautifulSoup(response.text,'html.parser')

#getting a list of references and a list of categories



rating_dic={'One':1,'Two':2,'Three':3,'Four':4,'Five':5}

listofcateg=soup.find('ul',attrs={'class':'nav nav-list'})

id1=0

# making the first table:
        
with open('book_price_rate_categ.csv','w',newline='', encoding='utf-8') as f:
    writer=csv.writer(f)
    writer.writerow(['id','Book Title','Price','Rate','Category'])
        
    
    for categ_ref_li in listofcateg.find('ul').find_all('li'):
        categ_name=(categ_ref_li.find('a').get_text().strip()) 
        
        
        categ_ref=('https://books.toscrape.com/'+(categ_ref_li.find('a').get('href')))
        response_categ=requests.get(categ_ref)
        soup_categ=BeautifulSoup(response_categ.text,'html.parser')



    
        for book in soup_categ.find_all('article',attrs={'class':'product_pod'}):
            book_name=book.find('h3').find('a').get('title')
            rate=rating_dic[book.find('p').get('class')[1]]
            price=float(book.find('div',attrs={'class':'product_price'}).find('p',attrs={'class':'price_color'}).get_text()[2:])

        

            bookname=(book.find('h3').find('a').get('title'))
            writer.writerow([id1,book_name,price,rate,categ_name])
            id1=id1+1
           
        
        

print("--- %s seconds ---" % (time.time() - start_time))

pd.read_csv('book_price_rate_categ.csv')

--- 69.89662003517151 seconds ---

,id,Book Title,Price,Rate,Category
0,0,It's Only the Himalayas,45.17,2,Travel
1,1,Full Moon over Noahâs Ark: An Odyssey to Mou...,49.43,4,Travel
2,2,See America: A Celebration of Our National Par...,48.87,3,Travel
3,3,Vagabonding: An Uncommon Guide to the Art of L...,36.94,2,Travel
4,4,Under the Tuscan Sun,37.33,3,Travel
...,...,...,...,...,...
512,512,Why the Right Went Wrong: Conservatism--From G...,52.65,4,Politics
513,513,Equal Is Unfair: America's Misguided Fight Aga...,56.86,1,Politics
514,514,Amid the Chaos,36.58,1,Cultural
515,515,Dark Notes,19.19,5,Erotica
516,516,The Long Shadow of Small Ghosts: Murder and Me...,10.97,1,Crime

# Task 2

In [10]:
#importing libraries
import requests
from bs4 import BeautifulSoup
import csv
import pandas as pd

#requesting and parsing the webpage
url='https://www.exchangerates.org.uk/Dollars-to-Egyptian-Pounds-currency-conversion-page.html'
response=requests.get(url)
soup=BeautifulSoup(response.text,'html.parser')
##
foundline=soup.find('title').get_text().strip() #finding the line of data
EGP_rates=float(foundline.split('=')[1].split(' ')[1])# converting string float to float
##asking for user input and printing the output
user_input=int(input('\n\nEnter amout of USD to change to EGP :'))
print('\nConversion rated today from USD to EGP is = '+str(user_input*EGP_rates))

Enter amout of USD to change to EGP :10

Conversion rated today from USD to EGP is = 156.992