# Functions Assignment

Complete the following questions:
____
**Write a function that computes the volume of a sphere given its radius.**
<p>The volume of a sphere is given as $$\frac{4}{3} Ï€r^3$$</p>

In [1]:
def vol(rad):
    volume_sphere=(rad**3)*(4/3)*3.14
    print(volume_sphere)

In [2]:
# Check
vol(2)

33.49333333333333

____
**Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.**

    Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
    Expected Output : 
    No. of Upper case characters : 4
    No. of Lower case Characters : 33

HINT: Two string methods that might prove useful: **.isupper()** and **.islower()**

If you feel ambitious, explore the Collections module to solve this problem!

In [11]:
def up_low(s):
    counter_capital=0
    counter_lower=0
    for i in s:
        if i.isupper():
            counter_capital+=1
        elif i.islower():
            counter_lower+=1
    print(counter_capital)
    print(counter_lower)

In [12]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

4
33

____
**multiply all the numbers in a list.**

    Sample List : [1, 2, 3, -4]
    Expected Output : -24

In [3]:
#use built in function

from functools import reduce
def multiply(m,n):
    return m*n

sample_list1=[1, 2, 3, -4]
reduce(multiply,sample_list1)

-24

____
**get the even numbers from a list. (use built in function)**

    Sample List : [1, 2, 3, 4,7,8]
    Expected Output : [2,4,8]

In [1]:
def even(sample_list2):
    new_list=[i for i in sample_list2 if i%2==0]
    print(new_list)

sample_list2=[1, 2, 3, 4,7,8]
new_list=[]
even(sample_list2)

#Another way 

#def even(num):
#    if num%2==0:
#        return num
#    else:
#        return 0

#sample_list2=[1, 2, 3, 4,7,8]
#list(map(even,sample_list2))

#Output=[0,2,0,4,0,8]

[2, 4, 8]

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [3]:
def lesser_of_two_evens(a,b):
    if a%2==0:
        if b%2==0:
            if(a<b):
                print(a)
            elif(b<a):
                print(b)
    if a%2!=0 or b%2!=0:
        if(a>b):
            print(a)
        elif(b>a):
            print(b)

In [4]:
# Check
lesser_of_two_evens(2,4)

2

In [5]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [2]:
def animal_crackers(text):
    (x,y)=text.split(' ')
    if x[0]==y[0]:
        print(True)
    else:
        print(False)

In [3]:
# Check
animal_crackers('Levelheaded Llama')

True

In [4]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [5]:
def makes_twenty(n1,n2):
    if (n1+n2)==20 or n1==20 or n2==20:
        return True
    else:
        return False
    
#Another Way

#makes_twenty=lambda n1,n2:True if (n1+n2)==20 or n1==20 or n2==20 else False

#Same Output

In [6]:
# Check
makes_twenty(20,10)

True

In [7]:
# Check
makes_twenty(2,3)

False

In [8]:
makes_twenty(12,8)

True

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [9]:
def old_macdonald(name):
    l=list(name)
    l[0]=l[0].upper()
    l[3]=l[3].upper()
    name=''.join(l)
    return name

In [10]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [13]:
def master_yoda(text):
    new_text=text.split()
    new_list=list(new_text)[::-1]
    text=' '.join(new_list)
    return text

In [14]:
# Check
master_yoda('I am home')

'home am I'

In [15]:
# Check
master_yoda('We are ready')

'ready are We'

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) â†’ True
    has_33([1, 3, 1, 3]) â†’ False
    has_33([3, 1, 3]) â†’ False

In [27]:
def has_33(nums):
    for i in range(3):
        if nums[i:i+2] == [3,3]:
            return True
    return False

In [28]:
# Check
has_33([1, 3, 3])

True

In [29]:
# Check
has_33([1, 3, 1, 3])

False

In [30]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [23]:
def paper_doll(text):
    str=""
    for i in text:
        str+=i*3
    print(str)

In [24]:
# Check
paper_doll('Hello')

HHHeeellllllooo

In [25]:
# Check
paper_doll('Mississippi')

MMMiiissssssiiissssssiiippppppiii

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [19]:
def spy_game(nums):
    status=False
    status2=False
    for i in nums:
        if i==0 and status is True:
            status2=True
            continue
        elif i==0:
            status=True
            continue
        elif i==7 and status2 is True:
            return status2
    return False

In [20]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [21]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [22]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [31]:
def count_primes(num):
    ctr=0
    for i in range(num):
        if i<=1:
            continue
        for j in range(2,i):
            if i%j==0:
                break
        else:
            ctr+=1
    return ctr

In [32]:
# Check
count_primes(100)

25

## Great Job!