## Numbers

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [1]:
x=6+5
x=4*x
x
#4*(6+5)=44

44

In [2]:
y=4*6
y=y+5
y
#4*6+5=29

29

In [3]:
z=6*5
z=4+z
z
#4+6*5=34

34

What would you use to find the 5 square ?

In [4]:
5**2

25

## Strings
Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [5]:
s = 'hello'
# Print out 'e' using indexing

s[1]

'e'

Reverse the string 'hello' using slicing:

In [6]:
s ='hello'
# Reverse the string using slicing

s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [7]:
s ='hello'
# Print out the 'o'

# Method 1:
s[4]

'o'

In [8]:

# Method 2:
s[-1]

'o'

## List
Reassign 'hello' in this list to say 'goodbye' instead:

In [9]:
List0=[2,44.6,"Hello"]

List0[2]='goodbye'
List0

[2, 44.6, 'goodbye']

Sort the list below:

In [10]:
list1 = [5,3,4,6,1]

list1.sort()
print(list1)

[1, 3, 4, 5, 6]

In [11]:
list1.sort(reverse=True)
print(list1)

[6, 5, 4, 3, 1]