# Functions Assignment

Complete the following questions:
____
**Write a function that computes the volume of a sphere given its radius.**
<p>The volume of a sphere is given as $$\frac{4}{3} Ï€r^3$$</p>

In [3]:
import math
def vol(rad):
    return rad**3* math.pi

In [4]:
# Check
vol(2)

25.132741228718345

____
**Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.**

    Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
    Expected Output : 
    No. of Upper case characters : 4
    No. of Lower case Characters : 33

HINT: Two string methods that might prove useful: **.isupper()** and **.islower()**

If you feel ambitious, explore the Collections module to solve this problem!

In [7]:
def up_low(s):
    is_upper = 0
    is_lower = 0
    for i in s:
        if  i.isupper():
            is_upper +=1
        elif i.islower():
            is_lower +=1
    return (is_upper,is_lower)

In [8]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
get_result=up_low(s)
get_result

(4, 33)

____
**multiply all the numbers in a list.**

    Sample List : [1, 2, 3, -4]
    Expected Output : -24

In [12]:
#use built in function

l = [1,2,3,-4]

from functools import reduce
resul = reduce(lambda x, y: x*y, [1, 2, 3, -4])
resul

-24

____
**get the even numbers from a list. (use built in function)**

    Sample List : [1, 2, 3, 4,7,8]
    Expected Output : [2,4,8]

In [14]:


l1= [1, 2, 3, 4,7,8]
output = list(filter(lambda x: x%2==0, l1))
output

[2, 4, 8]

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [15]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        if a<b: return a
        else: return b
    elif a%2!=0 and b%2!=0:
        if a>b: return a
        else: return b  
    else:
        if a>b: return a
        else: return b

In [16]:
# Check
lesser_of_two_evens(2,4)

2

In [17]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [18]:
def animal_crackers(text):
    l1=text.split(' ')
    if l1[0][0]==l1[1][0]:
        return True
    else: return False

In [19]:
# Check
animal_crackers('Levelheaded Llama')

True

In [20]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [21]:
def makes_twenty(n1,n2):
    if n1==20 or n2==20:
        return True
    elif n1+n2==20:
        return True
    else: return False

In [22]:
# Check
makes_twenty(20,10)

True

In [23]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [33]:
def old_macdonald(name):
    nameCap=''
    for index , char in enumerate(name):
        if index ==0 or index ==3:
            nameCap+=str.capitalize(char)
        else:
            nameCap += char
    return nameCap

In [34]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [40]:
def master_yoda(text):
    p = reversed(text.split())
    return " ".join(p)

In [41]:
# Check
master_yoda('I am home')

'home am I'

In [37]:
# Check
master_yoda('We are ready')

'ready are We'

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) â†’ True
    has_33([1, 3, 1, 3]) â†’ False
    has_33([3, 1, 3]) â†’ False

In [50]:
def has_33(nums):
    last = nums[0]
    for num in nums[1:]:
        if num == last:
            return True
        last = num
    return False

In [51]:
# Check
has_33([1, 3, 3])

True

In [52]:
# Check
has_33([1, 3, 1, 3])

False

In [53]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [54]:
def paper_doll(text):
    newstring=[]
    for letter in text:
        for i in range(0,3):
            newstring.append(letter)
    return "".join(newstring)

In [55]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [56]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [57]:
def spy_game(nums):
     for i in range(0,len(nums)):
        if nums[i] == 0:
            for x in range(i+1,len(nums)):
                if nums[x] == 0:
                    for y in range(x+1,len(nums)):
                        if nums[y] == 7:
                            return True
                else:
                    return False

In [58]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [59]:
# Check
spy_game([1,0,2,4,0,5,7])

False

In [60]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [61]:
def count_primes(num):
    counter = 0
    for i in range(num+1):
        if i == 2 :
            counter = 1
            continue
        for x in range (2,i) :
            if i % x == 0:
                break
        else :
            counter += 1
    return counter

In [62]:
# Check
count_primes(100)

25

## Great Job!