In [3]:
import sqlite3

#01) Write a sql query to get books that has rate >=3 and has 'Mr' in its name
connection=sqlite3.connect('books.db')
rows=connection.execute("select * from book_price_rate where rate >=3 and booktitle like '%Mr%'").fetchall()
connection.close()
if rows==[]:
    print('Data Doesnt exist')
else:    
    for id1,book,price,rate  in rows :
        print(f'book id: {id1} book name: {book} its price: {price} and rate:{rate} ')

book id: 35 book name: Mrs. Houdini its price: 30.25 and rate:5
book id: 154 book name: My Mrs. Brown its price: 24.48 and rate:3

In [4]:
#02) Write a sql query to get books that has rate >=3 or price > 20
connection=sqlite3.connect('books.db')
rows=connection.execute("select * from book_price_rate where rate >=3 and price>20").fetchall()
connection.close()
if rows==[]:
    print('Data Doesnt exist')
else:    
    for id1,book,price,rate  in rows :
        print(f'book id: {id1} book name: {book} its price: {price} and rate:{rate} ')

book id: 1 book name: Full Moon over Noahâs Ark: An Odyssey to Mount Ararat and Beyond its price: 49.43 and rate:4
book id: 2 book name: See America: A Celebration of Our National Parks & Treasured Sites its price: 48.87 and rate:3
book id: 4 book name: Under the Tuscan Sun its price: 37.33 and rate:3
book id: 7 book name: A Year in Provence (Provence #1) its price: 56.88 and rate:4
book id: 9 book name: Neither Here nor There: Travels in Europe its price: 38.95 and rate:3
book id: 10 book name: 1,000 Places to See Before You Die its price: 26.08 and rate:5
book id: 11 book name: Sharp Objects its price: 47.82 and rate:4
book id: 13 book name: The Past Never Ends its price: 56.5 and rate:4
book id: 15 book name: The Murder of Roger Ackroyd (Hercule Poirot #4) its price: 44.1 and rate:4
book id: 19 book name: A Time of Torment (Charlie Parker #14) its price: 48.35 and rate:5
book id: 21 book name: Poisonous (Max Revere Novels #3) its price: 26.8 and rate:3
book id: 22 book name: Murder at the 42nd Street Library (Raymond Ambler #1) its price: 54.36 and rate:4
book id: 23 book name: Most Wanted its price: 35.28 and rate:3
book id: 25 book name: Boar Island (Anna Pigeon #19) its price: 59.48 and rate:3
book id: 28 book name: What Happened on Beale Street (Secrets of the South Mysteries #2) its price: 25.37 and rate:5
book id: 29 book name: The Bachelor Girl's Guide to Murder (Herringford and Watts Mysteries #1) its price: 52.3 and rate:5
book id: 30 book name: Delivering the Truth (Quaker Midwife Mystery #1) its price: 20.89 and rate:4
book id: 32 book name: Forever and Forever: The Courtship of Henry Longfellow and Fanny Appleton its price: 29.69 and rate:3
book id: 33 book name: A Flight of Arrows (The Pathfinders #2) its price: 55.53 and rate:5
book id: 35 book name: Mrs. Houdini its price: 30.25 and rate:5
book id: 36 book name: The Marriage of Opposites its price: 28.08 and rate:4
book id: 37 book name: Glory over Everything: Beyond The Kitchen House its price: 45.84 and rate:3
book id: 39 book name: A Paris Apartment its price: 39.01 and rate:4
book id: 43 book name: World Without End (The Pillars of the Earth #2) its price: 32.97 and rate:4
book id: 44 book name: The Passion of Dolssa its price: 28.32 and rate:5
book id: 46 book name: Voyager (Outlander #3) its price: 21.07 and rate:5
book id: 47 book name: The Red Tent its price: 35.66 and rate:5
book id: 51 book name: Scott Pilgrim's Precious Little Life (Scott Pilgrim #1) its price: 52.29 and rate:5
book id: 54 book name: The Nameless City (The Nameless City #1) its price: 38.16 and rate:4
book id: 56 book name: Rat Queens, Vol. 3: Demons (Rat Queens (Collected Editions) #11-15) its price: 50.4 and rate:3
book id: 63 book name: Lumberjanes, Vol. 1: Beware the Kitten Holy (Lumberjanes #1-4) its price: 45.61 and rate:3
book id: 66 book name: I am a Hero Omnibus Volume 1 its price: 54.63 and rate:3
book id: 68 book name: Danganronpa Volume 1 its price: 51.99 and rate:4
book id: 69 book name: Codename Baboushka, Volume 1: The Conclave of Death its price: 36.72 and rate:4
book id: 75 book name: Little Women (Little Women #1) its price: 28.07 and rate:4
book id: 76 book name: Gone with the Wind its price: 32.49 and rate:3
book id: 77 book name: Candide its price: 58.63 and rate:3
book id: 78 book name: Animal Farm its price: 57.22 and rate:3
book id: 81 book name: The Complete Stories and Poems (The Works of Edgar Allan Poe [Cameo Edition]) its price: 26.78 and rate:4
book id: 84 book name: The Story of Hong Gildong its price: 43.19 and rate:4
book id: 91 book name: The Death of Humanity: and the Case for Life its price: 58.11 and rate:4
book id: 95 book name: At The Existentialist CafÃ©: Freedom, Being, and apricot cocktails with: Jean-Paul Sartre, Simone de Beauvoir, Albert Camus, Martin Heidegger, Edmund Husserl, Karl Jaspers, Maurice Merleau-Ponty and others its price: 29.93 and rate:5
book id: 101 book name: Chase Me (Paris Nights #2) its price: 25.27 and rate:5
book id: 102 book name: Black Dust its price: 34.53 and rate:5
book id: 109 book name: Doing It Over (Most Likely To #1) its price: 35.61 and rate:3
book id: 110 book name: The Wedding Pact (The O'Malleys #2) its price: 32.61 and rate:3
book id: 112 book name: Dirty (Dive Bar #1) its price: 40.83 and rate:4
book id: 113 book name: Take Me Home Tonight (Rock Star Romance #3) its price: 53.98 and rate:3
book id: 114 book name: Off the Hook (Fishing for Trouble #1) its price: 47.67 and rate:3
book id: 116 book name: Sit, Stay, Love its price: 20.9 and rate:3
book id: 118 book name: The Perfect Play (Play by Play #1) its price: 59.99 and rate:3
book id: 121 book name: I Had a Nice Time And Other Lies...: How to find love & sh*t like that its price: 57.36 and rate:4
book id: 123 book name: Keep Me Posted its price: 20.46 and rate:4
book id: 124 book name: Grey (Fifty Shades #4) its price: 48.49 and rate:4
book id: 125 book name: Meternity its price: 43.58 and rate:3
book id: 127 book name: Shopaholic Ties the Knot (Shopaholic #3) its price: 48.39 and rate:5
book id: 130 book name: The Undomestic Goddess its price: 45.75 and rate:4
book id: 131 book name: The Nanny Diaries (Nanny #1) its price: 52.53 and rate:5
book id: 133 book name: Something Borrowed (Darcy & Rachel #1) its price: 48.96 and rate:5
book id: 139 book name: Private Paris (Private #10) its price: 47.61 and rate:5
book id: 140 book name: We Love You, Charlie Freeman its price: 50.27 and rate:5
book id: 142 book name: The Murder That Never Was (Forensic Instincts #5) its price: 54.11 and rate:3
book id: 144 book name: The Vacationers its price: 42.15 and rate:4
book id: 145 book name: The Regional Office Is Under Attack! its price: 51.36 and rate:5
book id: 146 book name: Finders Keepers (Bill Hodges Trilogy #2) its price: 53.53 and rate:5
book id: 147 book name: The Time Keeper its price: 27.88 and rate:5
book id: 148 book name: The Testament of Mary its price: 52.67 and rate:4
book id: 149 book name: The First Hostage (J.B. Collins #2) its price: 25.85 and rate:3
book id: 150 book name: Take Me with You its price: 45.21 and rate:3
book id: 151 book name: Still Life with Bread Crumbs its price: 26.41 and rate:3
book id: 152 book name: Shtum its price: 55.84 and rate:4
book id: 154 book name: My Mrs. Brown its price: 24.48 and rate:3
book id: 157 book name: Eligible (The Austen Project #4) its price: 27.09 and rate:3
book id: 158 book name: Birdsong: A Story in Pictures its price: 54.64 and rate:3
book id: 161 book name: The White Cat and the Monk: A Retelling of the Poem âPangur BÃ¡nâ its price: 58.08 and rate:4
book id: 165 book name: Rain Fish its price: 23.57 and rate:3
book id: 167 book name: Luis Paints the World its price: 53.95 and rate:3
book id: 169 book name: The Whale its price: 35.96 and rate:4
book id: 170 book name: Shrunken Treasures: Literary Classics, Short, Sweet, and Silly its price: 52.87 and rate:3
book id: 174 book name: The Wild Robot its price: 56.07 and rate:3
book id: 176 book name: The Lonely Ones its price: 43.59 and rate:5
book id: 177 book name: The Day the Crayons Came Home (Crayons) its price: 26.33 and rate:5
book id: 179 book name: You Are What You Love: The Spiritual Power of Habit its price: 21.87 and rate:4
book id: 180 book name: God: The Most Unpleasant Character in All Fiction its price: 30.03 and rate:5
book id: 181 book name: The Book of Mormon its price: 24.57 and rate:3
book id: 183 book name: The Bhagavad Gita its price: 57.49 and rate:3
book id: 184 book name: Choosing Our Religion: The Spiritual Lives of America's Nones its price: 28.42 and rate:4
book id: 185 book name: Worlds Elsewhere: Journeys Around Shakespeareâs Globe its price: 40.3 and rate:5
book id: 186 book name: The Five Love Languages: How to Express Heartfelt Commitment to Your Mate its price: 31.05 and rate:3
book id: 188 book name: #HigherSelfie: Wake Up Your Life. Free Your Soul. Find Your Tribe. its price: 23.11 and rate:5
book id: 189 book name: Unseen City: The Majesty of Pigeons, the Discreet Charm of Snails & Other Wonders of the Urban Wilderness its price: 44.18 and rate:4
book id: 190 book name: Throwing Rocks at the Google Bus: How Growth Became the Enemy of Prosperity its price: 31.12 and rate:3
book id: 194 book name: Spark Joy: An Illustrated Master Class on the Art of Organizing and Tidying Up its price: 41.83 and rate:4
book id: 196 book name: In the Country We Love: My Family Divided its price: 22.0 and rate:4
book id: 198 book name: Call the Nurse: True Stories of a Country Nurse on a Scottish Isle its price: 29.14 and rate:5
book id: 203 book name: The Artist's Way: A Spiritual Path to Higher Creativity its price: 38.49 and rate:5
book id: 205 book name: Rip it Up and Start Again its price: 35.02 and rate:5
book id: 206 book name: Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991 its price: 57.25 and rate:3
book id: 209 book name: Please Kill Me: The Uncensored Oral History of Punk its price: 31.19 and rate:4
book id: 210 book name: Kill 'Em and Leave: Searching for James Brown and the American Soul its price: 45.05 and rate:5
book id: 214 book name: No One Here Gets Out Alive its price: 20.02 and rate:5
book id: 215 book name: Life its price: 31.58 and rate:5
book id: 217 book name: Forever Rockers (The Rocker #12) its price: 28.8 and rate:3
book id: 219 book name: The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics its price: 22.6 and rate:4
book id: 221 book name: America's Cradle of Quarterbacks: Western Pennsylvania's Football Factory from Johnny Unitas to Joe Montana its price: 22.5 and rate:3
book id: 222 book name: Aladdin and His Wonderful Lamp its price: 53.13 and rate:3
book id: 223 book name: Penny Maybe its price: 33.29 and rate:3
book id: 225 book name: The Inefficiency Assassin: Time Management Tactics for Working Smarter, Not Longer its price: 20.59 and rate:5
book id: 229 book name: A Piece of Sky, a Grain of Rice: A Memoir in Four Meditations its price: 56.76 and rate:5
book id: 230 book name: Tracing Numbers on a Train its price: 41.6 and rate:3
book id: 232 book name: The Secret (The Secret #1) its price: 27.37 and rate:4
book id: 234 book name: The Kite Runner its price: 41.82 and rate:4
book id: 237 book name: The Bridge to Consciousness: I'm Writing the Bridge Between Science and Our Old and New Beliefs. its price: 32.0 and rate:3
book id: 239 book name: Join its price: 35.67 and rate:5
book id: 240 book name: William Shakespeare's Star Wars: Verily, A New Hope (William Shakespeare's Star Wars #4) its price: 43.3 and rate:4
book id: 244 book name: Arena its price: 21.36 and rate:4
book id: 253 book name: Having the Barbarian's Baby (Ice Planet Barbarians #7.5) its price: 34.96 and rate:4
book id: 254 book name: The Book of Basketball: The NBA According to The Sports Guy its price: 44.84 and rate:5
book id: 255 book name: Friday Night Lights: A Town, a Team, and a Dream its price: 51.22 and rate:3
book id: 258 book name: Icing (Aces Hockey #2) its price: 40.44 and rate:4
book id: 260 book name: The Mindfulness and Acceptance Workbook for Anxiety: A Guide to Breaking Free from Anxiety, Phobias, and Worry Using Acceptance and Commitment Therapy its price: 23.89 and rate:4
book id: 261 book name: The Art Forger its price: 40.76 and rate:3
book id: 264 book name: Shobu Samurai, Project Aryoku (#3) its price: 29.06 and rate:3
book id: 265 book name: Modern Romance its price: 28.26 and rate:5
book id: 266 book name: The White Queen (The Cousins' War #1) its price: 25.91 and rate:5
book id: 267 book name: The Song of Achilles its price: 37.4 and rate:5
book id: 271 book name: Code Name Verity (Code Name Verity #1) its price: 22.13 and rate:4
book id: 272 book name: Cell its price: 20.29 and rate:4
book id: 277 book name: Rook its price: 37.86 and rate:4
book id: 280 book name: Saga, Volume 6 (Saga (Collected Editions) #6) its price: 25.02 and rate:3
book id: 283 book name: Crown of Midnight (Throne of Glass #2) its price: 43.29 and rate:3
book id: 286 book name: Throne of Glass (Throne of Glass #1) its price: 35.07 and rate:3
book id: 289 book name: The Star-Touched Queen its price: 46.02 and rate:5
book id: 291 book name: The Bane Chronicles (The Bane Chronicles #1-11) its price: 44.73 and rate:4
book id: 293 book name: Demigods & Magicians: Percy and Annabeth Meet the Kanes (Percy Jackson & Kane Chronicles Crossover #1-3) its price: 37.51 and rate:5
book id: 294 book name: City of Glass (The Mortal Instruments #3) its price: 56.02 and rate:4
book id: 296 book name: The Star-Touched Queen its price: 32.3 and rate:5
book id: 297 book name: A Shard of Ice (The Black Symphony Saga #1) its price: 56.63 and rate:3
book id: 298 book name: King's Folly (The Kinsman Chronicles #1) its price: 39.61 and rate:5
book id: 300 book name: The Mistake (Off-Campus #2) its price: 43.29 and rate:3
book id: 302 book name: The Hook Up (Game On #1) its price: 36.29 and rate:5
book id: 303 book name: Shameless its price: 58.35 and rate:3
book id: 304 book name: Off Sides (Off #1) its price: 39.45 and rate:5
book id: 307 book name: The Natural History of Us (The Fine Art of Pretending #2) its price: 45.22 and rate:3
book id: 309 book name: Burning its price: 28.81 and rate:3
book id: 310 book name: A Fierce and Subtle Poison its price: 28.13 and rate:4
book id: 311 book name: Scarlett Epstein Hates It Here its price: 43.55 and rate:5
book id: 313 book name: Library of Souls (Miss Peregrineâs Peculiar Children #3) its price: 48.56 and rate:5
book id: 314 book name: Frostbite (Vampire Academy #2) its price: 29.99 and rate:5
book id: 318 book name: The Darkest Lie its price: 35.35 and rate:5
book id: 321 book name: Catching Jordan (Hundred Oaks) its price: 50.83 and rate:3
book id: 322 book name: Aristotle and Dante Discover the Secrets of the Universe (Aristotle and Dante Discover the Secrets of the Universe #1) its price: 58.14 and rate:4
book id: 325 book name: The Most Perfect Thing: Inside (and Outside) a Bird's Egg its price: 42.96 and rate:4
book id: 326 book name: Immunity: How Elie Metchnikoff Changed the Course of Modern Medicine its price: 57.36 and rate:5
book id: 327 book name: Sorting the Beef from the Bull: The Science of Food Fraud Forensics its price: 44.74 and rate:4
book id: 335 book name: The Disappearing Spoon: And Other True Tales of Madness, Love, and the History of the World from the Periodic Table of the Elements its price: 57.35 and rate:5
book id: 337 book name: Seven Brief Lessons on Physics its price: 30.6 and rate:4
book id: 339 book name: A Light in the Attic its price: 51.77 and rate:3
book id: 341 book name: Shakespeare's Sonnets its price: 20.66 and rate:4
book id: 344 book name: Slow States of Collapse: Poems its price: 57.31 and rate:3
book id: 348 book name: salt. its price: 46.78 and rate:4
book id: 349 book name: Quarter Life Poetry: Poems for the Young, Broke and Hangry its price: 50.89 and rate:5
book id: 350 book name: Out of Print: City Lights Spotlight No. 14 its price: 53.64 and rate:5
book id: 351 book name: Les Fleurs du Mal its price: 29.04 and rate:5
book id: 353 book name: Leave This Song Behind: Teen Poetry at Its Best its price: 51.17 and rate:5
book id: 355 book name: The Crossover its price: 38.77 and rate:4
book id: 357 book name: Twenty Love Poems and a Song of Despair its price: 30.95 and rate:4
book id: 359 book name: Wall and Piece its price: 44.18 and rate:4
book id: 360 book name: Feathers: Displays of Brilliant Plumage its price: 49.05 and rate:3
book id: 361 book name: Art and Fear: Observations on the Perils (and Rewards) of Artmaking its price: 48.63 and rate:4
book id: 362 book name: The New Drawing on the Right Side of the Brain its price: 43.02 and rate:3
book id: 364 book name: The Story of Art its price: 41.14 and rate:4
book id: 366 book name: Ways of Seeing its price: 39.51 and rate:5
book id: 369 book name: It Didn't Start with You: How Inherited Family Trauma Shapes Who We Are and How to End the Cycle its price: 56.27 and rate:3
book id: 370 book name: An Unquiet Mind: A Memoir of Moods and Madness its price: 21.3 and rate:3
book id: 377 book name: Approval Junkie: Adventures in Caring Too Much its price: 58.81 and rate:5
book id: 381 book name: Life Without a Recipe its price: 59.04 and rate:5
book id: 382 book name: A Heartbreaking Work of Staggering Genius its price: 54.29 and rate:5
book id: 387 book name: I Know What I'm Doing -- and Other Lies I Tell Myself: Dispatches from a Life Under Construction its price: 25.98 and rate:4
book id: 389 book name: Dress Your Family in Corduroy and Denim its price: 43.68 and rate:3
book id: 391 book name: When You Are Engulfed in Flames its price: 30.89 and rate:5
book id: 392 book name: Naked its price: 31.69 and rate:3
book id: 393 book name: Lamb: The Gospel According to Biff, Christ's Childhood Pal its price: 55.5 and rate:5
book id: 400 book name: Psycho: Sanitarium (Psycho #1.5) its price: 36.97 and rate:5
book id: 402 book name: Red Dragon (Hannibal Lecter #1) its price: 23.37 and rate:3
book id: 403 book name: Dracula the Un-Dead its price: 35.63 and rate:5
book id: 405 book name: Needful Things its price: 47.51 and rate:4
book id: 407 book name: It its price: 25.01 and rate:3
book id: 408 book name: 'Salem's Lot its price: 49.56 and rate:4
book id: 410 book name: The Girl with All the Gifts its price: 49.47 and rate:3
book id: 412 book name: Sapiens: A Brief History of Humankind its price: 54.23 and rate:5
book id: 417 book name: Zealot: The Life and Times of Jesus of Nazareth its price: 24.7 and rate:3
book id: 419 book name: 1491: New Revelations of the Americas Before Columbus its price: 21.8 and rate:3
book id: 421 book name: "Most Blessed of the Patriarchs": Thomas Jefferson and the Empire of the Imagination its price: 44.48 and rate:5
book id: 422 book name: A Short History of Nearly Everything its price: 52.4 and rate:5
book id: 424 book name: Catherine the Great: Portrait of a Woman its price: 58.55 and rate:4
book id: 425 book name: The Mathews Men: Seven Brothers and the War Against Hitler's U-boats its price: 42.91 and rate:5
book id: 426 book name: The Hiding Place its price: 55.91 and rate:4
book id: 430 book name: Foolproof Preserving: A Guide to Small Batch Jams, Jellies, Pickles, Condiments, and More: A Foolproof Guide to Making Small Batch Jams, Jellies, Pickles, Condiments, and More its price: 30.52 and rate:3
book id: 435 book name: The Nerdy Nummies Cookbook: Sweet Treats for the Geek in All of Us its price: 37.34 and rate:5
book id: 438 book name: Deliciously Ella Every Day: Quick and Easy Recipes for Gluten-Free Snacks, Packed Lunches, and Simple Meals its price: 42.16 and rate:3
book id: 439 book name: The Help Yourself Cookbook for Kids: 60 Easy Plant-Based Recipes Kids Can Make to Stay Healthy and Save the Earth its price: 28.77 and rate:3
book id: 442 book name: Barefoot Contessa at Home: Everyday Recipes You'll Make Over and Over Again its price: 50.62 and rate:5
book id: 444 book name: Everyday Italian: 125 Simple and Delicious Recipes its price: 20.1 and rate:5
book id: 446 book name: Cravings: Recipes for What You Want to Eat its price: 20.5 and rate:3
book id: 450 book name: Redeeming Love its price: 20.47 and rate:5
book id: 451 book name: Close to You its price: 49.46 and rate:4
book id: 452 book name: Shadows of the Past (Logan Point #1) its price: 39.67 and rate:5
book id: 455 book name: If I Run (If I Run #1) its price: 49.97 and rate:4
book id: 456 book name: The Dirty Little Secrets of Getting Your Dream Job its price: 33.34 and rate:4
book id: 458 book name: The 10% Entrepreneur: Live Your Startup Dream Without Quitting Your Day Job its price: 27.55 and rate:3
book id: 460 book name: Made to Stick: Why Some Ideas Survive and Others Die its price: 38.85 and rate:5
book id: 462 book name: The Art of Startup Fundraising its price: 21.0 and rate:3

In [25]:
#03) Write a sql query to get books that has rate not 3

connection=sqlite3.connect('lec10_booktables_shimaaelsayed.db')
rows=connection.execute("select * from booktitle_price_rate where rate !=3 ").fetchall()
connection.close()
if rows==[]:
    print('Data Doesnt exist')
else:    
    for book,price,rate  in rows :
        print(f'book name: {book} its price: {price} and rate:{rate} ')

book name: Tipping the Velvet its price: 53.74 and rate:1
book name: Soumission its price: 50.1 and rate:1
book name: Sharp Objects its price: 47.82 and rate:4
book name: Sapiens: A Brief History of Humankind its price: 54.23 and rate:5
book name: The Requiem Red its price: 22.65 and rate:1
book name: The Dirty Little Secrets of Getting Your Dream Job its price: 33.34 and rate:4
book name: The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics its price: 22.6 and rate:4
book name: The Black Maria its price: 52.15 and rate:1
book name: Starving Hearts (Triangular Trade Trilogy, #1) its price: 13.99 and rate:2
book name: Shakespeare's Sonnets its price: 20.66 and rate:4
book name: Set Me Free its price: 17.46 and rate:5
book name: Scott Pilgrim's Precious Little Life (Scott Pilgrim #1) its price: 52.29 and rate:5
book name: Rip it Up and Start Again its price: 35.02 and rate:5
book name: Olio its price: 23.88 and rate:1
book name: Mesaerion: The Best Science Fiction Stories 1800-1849 its price: 37.59 and rate:1
book name: Libertarianism for Beginners its price: 51.33 and rate:2
book name: It's Only the Himalayas its price: 45.17 and rate:2

In [5]:
#04) Write a sql query to get books that has price between 10 and 40 and has rate 3 or 4 or 1
connection=sqlite3.connect('books.db')
rows=connection.execute("select * from book_price_rate where rate in (1,3,4) and price between 10 and 20").fetchall()
connection.close()
if rows==[]:
    print('Data Doesnt exist')
else:    
    for id1,book,price,rate  in rows :
        print(f'book id: {id1} book name: {book} its price: {price} and rate:{rate} ')

book id: 12 book name: In a Dark, Dark Wood its price: 19.63 and rate:1
book id: 14 book name: A Murder in Time its price: 16.64 and rate:1
book id: 17 book name: That Darkness (Gardiner and Renner #1) its price: 13.92 and rate:1
book id: 18 book name: Tastes Like Fear (DI Marnie Rome #3) its price: 10.69 and rate:1
book id: 24 book name: Hide Away (Eve Duncan #20) its price: 11.84 and rate:1
book id: 27 book name: Playing with Fire its price: 13.71 and rate:3
book id: 41 book name: The Constant Princess (The Tudor Court #1) its price: 16.62 and rate:3
book id: 52 book name: Tsubasa: WoRLD CHRoNiCLE 2 (Tsubasa WoRLD CHRoNiCLE #2) its price: 16.28 and rate:1
book id: 53 book name: This One Summer its price: 19.49 and rate:4
book id: 58 book name: Pop Gun War, Volume 1: Gift its price: 18.97 and rate:1
book id: 59 book name: Patience its price: 10.16 and rate:3
book id: 60 book name: Outcast, Vol. 1: A Darkness Surrounds Him (Outcast #1) its price: 15.44 and rate:4
book id: 70 book name: Camp Midnight its price: 17.08 and rate:4
book id: 71 book name: The Secret Garden its price: 15.08 and rate:4
book id: 79 book name: Wuthering Heights its price: 17.73 and rate:3
book id: 92 book name: The Stranger its price: 17.44 and rate:4
book id: 104 book name: First and First (Five Boroughs #3) its price: 15.97 and rate:4
book id: 108 book name: Something More Than This its price: 16.24 and rate:4
book id: 119 book name: Dark Lover (Black Dagger Brotherhood #1) its price: 12.87 and rate:1
book id: 120 book name: Changing the Game (Play by Play #2) its price: 13.38 and rate:3
book id: 122 book name: Will You Won't You Want Me? its price: 13.86 and rate:3
book id: 135 book name: I've Got Your Number its price: 19.69 and rate:1
book id: 136 book name: The Edge of Reason (Bridget Jones #2) its price: 19.18 and rate:4
book id: 156 book name: I Am Pilgrim (Pilgrim #1) its price: 10.6 and rate:4
book id: 162 book name: Little Red its price: 13.47 and rate:3
book id: 191 book name: The Life-Changing Magic of Tidying Up: The Japanese Art of Decluttering and Organizing its price: 16.77 and rate:3
book id: 202 book name: The Genius of Birds its price: 17.24 and rate:1
book id: 208 book name: Love Is a Mix Tape (Music #1) its price: 18.03 and rate:1
book id: 213 book name: Orchestra of Exiles: The Story of Bronislaw Huberman, the Israel Philharmonic, and the One Thousand Jews He Saved from Nazi Horrors its price: 12.36 and rate:3
book id: 218 book name: The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull its price: 17.93 and rate:3
book id: 241 book name: The Project its price: 10.65 and rate:1
book id: 246 book name: The Restaurant at the End of the Universe (Hitchhiker's Guide to the Galaxy #2) its price: 10.92 and rate:1
book id: 247 book name: Ready Player One its price: 19.07 and rate:4
book id: 259 book name: The Torch Is Passed: A Harding Family Story its price: 19.09 and rate:1
book id: 262 book name: On a Midnight Clear its price: 14.07 and rate:3
book id: 279 book name: Unicorn Tracks its price: 18.78 and rate:3
book id: 331 book name: The Origin of Species its price: 10.01 and rate:4
book id: 332 book name: The Grand Design its price: 13.76 and rate:3
book id: 334 book name: The Elegant Universe: Superstrings, Hidden Dimensions, and the Quest for the Ultimate Theory its price: 13.03 and rate:4
book id: 345 book name: Untitled Collection: Sabbath Poems 2014 its price: 14.27 and rate:4
book id: 346 book name: Poems That Make Grown Women Cry its price: 14.19 and rate:4
book id: 358 book name: Vampire Knight, Vol. 1 (Vampire Knight #1) its price: 15.4 and rate:1
book id: 363 book name: History of Beauty its price: 10.29 and rate:4
book id: 367 book name: The Lucifer Effect: Understanding How Good People Turn Evil its price: 10.4 and rate:1
book id: 378 book name: Running with Scissors its price: 12.91 and rate:4
book id: 398 book name: Pet Sematary its price: 10.56 and rate:3
book id: 404 book name: Night Shift (Night Shift #1-20) its price: 12.75 and rate:4
book id: 414 book name: The Age of Genius: The Seventeenth Century and the Birth of the Modern Mind its price: 19.73 and rate:1
book id: 418 book name: A Distant Mirror: The Calamitous 14th Century its price: 14.58 and rate:3
book id: 420 book name: Brilliant Beacons: A History of the American Lighthouse its price: 11.45 and rate:3
book id: 433 book name: Mama Tried: Traditional Italian Cooking for the Screwed, Crude, Vegan, and Tattooed its price: 14.02 and rate:4
book id: 440 book name: It's All Easy: Healthy, Delicious Weeknight Meals in under 30 Minutes its price: 19.55 and rate:1
book id: 447 book name: The Moosewood Cookbook: Recipes from Moosewood Restaurant, Ithaca, New York its price: 12.34 and rate:4
book id: 473 book name: In Her Wake its price: 12.84 and rate:1
book id: 483 book name: The Travelers its price: 15.77 and rate:1
book id: 497 book name: You Are a Badass: How to Stop Doubting Your Greatness and Start Living an Awesome Life its price: 12.08 and rate:3
book id: 500 book name: The Girl You Left Behind (The Girl You Left Behind #1) its price: 15.79 and rate:1
book id: 516 book name: The Long Shadow of Small Ghosts: Murder and Memory in an American City its price: 10.97 and rate:1

In [6]:
#05) Write a sql query to get the top 5 most expensive books 
#(order books desc with price column and then limit the result to the first 5).

connection=sqlite3.connect('books.db')
rows=connection.execute("select * from book_price_rate order by price desc limit 5").fetchall()
connection.close()
if rows==[]:
    print('Data Doesnt exist')
else:    
    for id1,book,price,rate  in rows :
        print(f'book id: {id1} book name: {book} its price: {price} and rate:{rate} ')

book id: 118 book name: The Perfect Play (Play by Play #1) its price: 59.99 and rate:3
book id: 372 book name: Civilization and Its Discontents its price: 59.95 and rate:2
book id: 481 book name: The Bone Hunters (Lexy Vaughan & Steven Macaulay #2) its price: 59.71 and rate:3
book id: 416 book name: Thomas Jefferson and the Tripoli Pirates: The Forgotten War That Changed American History its price: 59.64 and rate:1
book id: 25 book name: Boar Island (Anna Pigeon #19) its price: 59.48 and rate:3

In [7]:
#06) Write a sql query to get the 3rd 10 books in the books table order first by rate desc and then by price asc

connection=sqlite3.connect('books.db')
rows=connection.execute("select * from book_price_rate order by rate desc , price asc limit 10 offset 2").fetchall()
connection.close()
if rows==[]:
    print('Data Doesnt exist')
else:    
    for id1,book,price,rate  in rows :
        print(f'book id: {id1} book name: {book} its price: {price} and rate:{rate} ')

book id: 457 book name: The Third Wave: An Entrepreneurâs Vision of the Future its price: 12.61 and rate:5
book id: 163 book name: Walt Disney's Alice in Wonderland its price: 12.96 and rate:5
book id: 281 book name: Princess Between Worlds (Wide-Awake Princess #5) its price: 13.34 and rate:5
book id: 57 book name: Princess Jellyfish 2-in-1 Omnibus, Vol. 01 (Princess Jellyfish 2-in-1 Omnibus #1) its price: 13.61 and rate:5
book id: 126 book name: Some Women its price: 13.73 and rate:5
book id: 323 book name: The Epidemic (The Program 0.6) its price: 14.44 and rate:5
book id: 115 book name: A Gentleman's Position (Society of Gentlemen #3) its price: 14.75 and rate:5
book id: 388 book name: Hyperbole and a Half: Unfortunate Situations, Flawed Coping Mechanisms, Mayhem, and Other Things That Happened its price: 14.75 and rate:5
book id: 384 book name: Fifty Shades Freed (Fifty Shades #3) its price: 15.36 and rate:5
book id: 354 book name: The Collected Poems of W.B. Yeats (The Collected Works of W.B. Yeats #1) its price: 15.42 and rate:5

In [9]:
#07) Write a sql query to add a new category in categories table and add 5 books to this category
#in books table with title, rate and price

connection=sqlite3.connect('books.db')

cur = connection.cursor()
# Insert data

cur.execute("INSERT INTO book_price_rate VALUES (517,'book1',1,1)")
cur.execute("INSERT INTO book_price_rate VALUES (518,'book2',2,2)")
cur.execute("INSERT INTO book_price_rate VALUES (519,'book3',3,3)")
cur.execute("INSERT INTO book_price_rate VALUES (520,'book4',4,4)")
cur.execute("INSERT INTO book_price_rate VALUES (521,'book5',5,5)")


# Save (commit) the changes
connection.commit()

connection.close()

In [10]:
#checking if executed
connection=sqlite3.connect('books.db')
rows=connection.execute("select * from book_price_rate").fetchall()
connection.close()
if rows==[]:
    print('Data Doesnt exist')
else:    
    for id1,book,price,rate  in rows :
        print(f'book id: {id1} book name: {book} its price: {price} and rate:{rate} ')

book id: 0 book name: It's Only the Himalayas its price: 45.17 and rate:2
book id: 1 book name: Full Moon over Noahâs Ark: An Odyssey to Mount Ararat and Beyond its price: 49.43 and rate:4
book id: 2 book name: See America: A Celebration of Our National Parks & Treasured Sites its price: 48.87 and rate:3
book id: 3 book name: Vagabonding: An Uncommon Guide to the Art of Long-Term World Travel its price: 36.94 and rate:2
book id: 4 book name: Under the Tuscan Sun its price: 37.33 and rate:3
book id: 5 book name: A Summer In Europe its price: 44.34 and rate:2
book id: 6 book name: The Great Railway Bazaar its price: 30.54 and rate:1
book id: 7 book name: A Year in Provence (Provence #1) its price: 56.88 and rate:4
book id: 8 book name: The Road to Little Dribbling: Adventures of an American in Britain (Notes From a Small Island #2) its price: 23.21 and rate:1
book id: 9 book name: Neither Here nor There: Travels in Europe its price: 38.95 and rate:3
book id: 10 book name: 1,000 Places to See Before You Die its price: 26.08 and rate:5
book id: 11 book name: Sharp Objects its price: 47.82 and rate:4
book id: 12 book name: In a Dark, Dark Wood its price: 19.63 and rate:1
book id: 13 book name: The Past Never Ends its price: 56.5 and rate:4
book id: 14 book name: A Murder in Time its price: 16.64 and rate:1
book id: 15 book name: The Murder of Roger Ackroyd (Hercule Poirot #4) its price: 44.1 and rate:4
book id: 16 book name: The Last Mile (Amos Decker #2) its price: 54.21 and rate:2
book id: 17 book name: That Darkness (Gardiner and Renner #1) its price: 13.92 and rate:1
book id: 18 book name: Tastes Like Fear (DI Marnie Rome #3) its price: 10.69 and rate:1
book id: 19 book name: A Time of Torment (Charlie Parker #14) its price: 48.35 and rate:5
book id: 20 book name: A Study in Scarlet (Sherlock Holmes #1) its price: 16.73 and rate:2
book id: 21 book name: Poisonous (Max Revere Novels #3) its price: 26.8 and rate:3
book id: 22 book name: Murder at the 42nd Street Library (Raymond Ambler #1) its price: 54.36 and rate:4
book id: 23 book name: Most Wanted its price: 35.28 and rate:3
book id: 24 book name: Hide Away (Eve Duncan #20) its price: 11.84 and rate:1
book id: 25 book name: Boar Island (Anna Pigeon #19) its price: 59.48 and rate:3
book id: 26 book name: The Widow its price: 27.26 and rate:2
book id: 27 book name: Playing with Fire its price: 13.71 and rate:3
book id: 28 book name: What Happened on Beale Street (Secrets of the South Mysteries #2) its price: 25.37 and rate:5
book id: 29 book name: The Bachelor Girl's Guide to Murder (Herringford and Watts Mysteries #1) its price: 52.3 and rate:5
book id: 30 book name: Delivering the Truth (Quaker Midwife Mystery #1) its price: 20.89 and rate:4
book id: 31 book name: Tipping the Velvet its price: 53.74 and rate:1
book id: 32 book name: Forever and Forever: The Courtship of Henry Longfellow and Fanny Appleton its price: 29.69 and rate:3
book id: 33 book name: A Flight of Arrows (The Pathfinders #2) its price: 55.53 and rate:5
book id: 34 book name: The House by the Lake its price: 36.95 and rate:1
book id: 35 book name: Mrs. Houdini its price: 30.25 and rate:5
book id: 36 book name: The Marriage of Opposites its price: 28.08 and rate:4
book id: 37 book name: Glory over Everything: Beyond The Kitchen House its price: 45.84 and rate:3
book id: 38 book name: Love, Lies and Spies its price: 20.55 and rate:2
book id: 39 book name: A Paris Apartment its price: 39.01 and rate:4
book id: 40 book name: Lilac Girls its price: 17.28 and rate:2
book id: 41 book name: The Constant Princess (The Tudor Court #1) its price: 16.62 and rate:3
book id: 42 book name: The Invention of Wings its price: 37.34 and rate:1
book id: 43 book name: World Without End (The Pillars of the Earth #2) its price: 32.97 and rate:4
book id: 44 book name: The Passion of Dolssa its price: 28.32 and rate:5
book id: 45 book name: Girl With a Pearl Earring its price: 26.77 and rate:1
book id: 46 book name: Voyager (Outlander #3) its price: 21.07 and rate:5
book id: 47 book name: The Red Tent its price: 35.66 and rate:5
book id: 48 book name: The Last Painting of Sara de Vos its price: 55.55 and rate:2
book id: 49 book name: The Guernsey Literary and Potato Peel Pie Society its price: 49.53 and rate:1
book id: 50 book name: Girl in the Blue Coat its price: 46.83 and rate:2
book id: 51 book name: Scott Pilgrim's Precious Little Life (Scott Pilgrim #1) its price: 52.29 and rate:5
book id: 52 book name: Tsubasa: WoRLD CHRoNiCLE 2 (Tsubasa WoRLD CHRoNiCLE #2) its price: 16.28 and rate:1
book id: 53 book name: This One Summer its price: 19.49 and rate:4
book id: 54 book name: The Nameless City (The Nameless City #1) its price: 38.16 and rate:4
book id: 55 book name: Saga, Volume 5 (Saga (Collected Editions) #5) its price: 51.04 and rate:2
book id: 56 book name: Rat Queens, Vol. 3: Demons (Rat Queens (Collected Editions) #11-15) its price: 50.4 and rate:3
book id: 57 book name: Princess Jellyfish 2-in-1 Omnibus, Vol. 01 (Princess Jellyfish 2-in-1 Omnibus #1) its price: 13.61 and rate:5
book id: 58 book name: Pop Gun War, Volume 1: Gift its price: 18.97 and rate:1
book id: 59 book name: Patience its price: 10.16 and rate:3
book id: 60 book name: Outcast, Vol. 1: A Darkness Surrounds Him (Outcast #1) its price: 15.44 and rate:4
book id: 61 book name: orange: The Complete Collection 1 (orange: The Complete Collection #1) its price: 48.41 and rate:1
book id: 62 book name: Lumberjanes, Vol. 2: Friendship to the Max (Lumberjanes #5-8) its price: 46.91 and rate:2
book id: 63 book name: Lumberjanes, Vol. 1: Beware the Kitten Holy (Lumberjanes #1-4) its price: 45.61 and rate:3
book id: 64 book name: Lumberjanes Vol. 3: A Terrible Plan (Lumberjanes #9-12) its price: 19.92 and rate:2
book id: 65 book name: I Hate Fairyland, Vol. 1: Madly Ever After (I Hate Fairyland (Compilations) #1-5) its price: 29.17 and rate:2
book id: 66 book name: I am a Hero Omnibus Volume 1 its price: 54.63 and rate:3
book id: 67 book name: Giant Days, Vol. 2 (Giant Days #5-8) its price: 22.11 and rate:2
book id: 68 book name: Danganronpa Volume 1 its price: 51.99 and rate:4
book id: 69 book name: Codename Baboushka, Volume 1: The Conclave of Death its price: 36.72 and rate:4
book id: 70 book name: Camp Midnight its price: 17.08 and rate:4
book id: 71 book name: The Secret Garden its price: 15.08 and rate:4
book id: 72 book name: The Metamorphosis its price: 28.58 and rate:1
book id: 73 book name: The Pilgrim's Progress its price: 50.26 and rate:2
book id: 74 book name: The Hound of the Baskervilles (Sherlock Holmes #5) its price: 14.82 and rate:2
book id: 75 book name: Little Women (Little Women #1) its price: 28.07 and rate:4
book id: 76 book name: Gone with the Wind its price: 32.49 and rate:3
book id: 77 book name: Candide its price: 58.63 and rate:3
book id: 78 book name: Animal Farm its price: 57.22 and rate:3
book id: 79 book name: Wuthering Heights its price: 17.73 and rate:3
book id: 80 book name: The Picture of Dorian Gray its price: 29.7 and rate:2
book id: 81 book name: The Complete Stories and Poems (The Works of Edgar Allan Poe [Cameo Edition]) its price: 26.78 and rate:4
book id: 82 book name: Beowulf its price: 38.35 and rate:2
book id: 83 book name: And Then There Were None its price: 35.01 and rate:2
book id: 84 book name: The Story of Hong Gildong its price: 43.19 and rate:4
book id: 85 book name: The Little Prince its price: 45.42 and rate:2
book id: 86 book name: Sense and Sensibility its price: 37.46 and rate:1
book id: 87 book name: Of Mice and Men its price: 47.11 and rate:2
book id: 88 book name: Emma its price: 32.93 and rate:2
book id: 89 book name: Alice in Wonderland (Alice's Adventures in Wonderland #1) its price: 55.53 and rate:1
book id: 90 book name: Sophie's World its price: 15.94 and rate:5
book id: 91 book name: The Death of Humanity: and the Case for Life its price: 58.11 and rate:4
book id: 92 book name: The Stranger its price: 17.44 and rate:4
book id: 93 book name: Proofs of God: Classical Arguments from Tertullian to Barth its price: 54.21 and rate:1
book id: 94 book name: Kierkegaard: A Christian Missionary to Christians its price: 47.13 and rate:1
book id: 95 book name: At The Existentialist CafÃ©: Freedom, Being, and apricot cocktails with: Jean-Paul Sartre, Simone de Beauvoir, Albert Camus, Martin Heidegger, Edmund Husserl, Karl Jaspers, Maurice Merleau-Ponty and others its price: 29.93 and rate:5
book id: 96 book name: Critique of Pure Reason its price: 20.75 and rate:1
book id: 97 book name: Run, Spot, Run: The Ethics of Keeping Pets its price: 20.02 and rate:1
book id: 98 book name: The Nicomachean Ethics its price: 36.34 and rate:1
book id: 99 book name: Meditations its price: 25.89 and rate:2
book id: 100 book name: Beyond Good and Evil its price: 43.38 and rate:1
book id: 101 book name: Chase Me (Paris Nights #2) its price: 25.27 and rate:5
book id: 102 book name: Black Dust its price: 34.53 and rate:5
book id: 103 book name: Her Backup Boyfriend (The Sorensen Family #1) its price: 33.97 and rate:1
book id: 104 book name: First and First (Five Boroughs #3) its price: 15.97 and rate:4
book id: 105 book name: Fifty Shades Darker (Fifty Shades #2) its price: 21.96 and rate:1
book id: 106 book name: The Wedding Dress its price: 24.12 and rate:1
book id: 107 book name: Suddenly in Love (Lake Haven #1) its price: 55.99 and rate:2
book id: 108 book name: Something More Than This its price: 16.24 and rate:4
book id: 109 book name: Doing It Over (Most Likely To #1) its price: 35.61 and rate:3
book id: 110 book name: The Wedding Pact (The O'Malleys #2) its price: 32.61 and rate:3
book id: 111 book name: Hold Your Breath (Search and Rescue #1) its price: 28.82 and rate:1
book id: 112 book name: Dirty (Dive Bar #1) its price: 40.83 and rate:4
book id: 113 book name: Take Me Home Tonight (Rock Star Romance #3) its price: 53.98 and rate:3
book id: 114 book name: Off the Hook (Fishing for Trouble #1) its price: 47.67 and rate:3
book id: 115 book name: A Gentleman's Position (Society of Gentlemen #3) its price: 14.75 and rate:5
book id: 116 book name: Sit, Stay, Love its price: 20.9 and rate:3
book id: 117 book name: A Girl's Guide to Moving On (New Beginnings #2) its price: 31.3 and rate:1
book id: 118 book name: The Perfect Play (Play by Play #1) its price: 59.99 and rate:3
book id: 119 book name: Dark Lover (Black Dagger Brotherhood #1) its price: 12.87 and rate:1
book id: 120 book name: Changing the Game (Play by Play #2) its price: 13.38 and rate:3
book id: 121 book name: I Had a Nice Time And Other Lies...: How to find love & sh*t like that its price: 57.36 and rate:4
book id: 122 book name: Will You Won't You Want Me? its price: 13.86 and rate:3
book id: 123 book name: Keep Me Posted its price: 20.46 and rate:4
book id: 124 book name: Grey (Fifty Shades #4) its price: 48.49 and rate:4
book id: 125 book name: Meternity its price: 43.58 and rate:3
book id: 126 book name: Some Women its price: 13.73 and rate:5
book id: 127 book name: Shopaholic Ties the Knot (Shopaholic #3) its price: 48.39 and rate:5
book id: 128 book name: Can You Keep a Secret? its price: 21.94 and rate:1
book id: 129 book name: Twenties Girl its price: 42.8 and rate:2
book id: 130 book name: The Undomestic Goddess its price: 45.75 and rate:4
book id: 131 book name: The Nanny Diaries (Nanny #1) its price: 52.53 and rate:5
book id: 132 book name: The Devil Wears Prada (The Devil Wears Prada #1) its price: 44.29 and rate:1
book id: 133 book name: Something Borrowed (Darcy & Rachel #1) its price: 48.96 and rate:5
book id: 134 book name: Something Blue (Darcy & Rachel #2) its price: 54.62 and rate:1
book id: 135 book name: I've Got Your Number its price: 19.69 and rate:1
book id: 136 book name: The Edge of Reason (Bridget Jones #2) its price: 19.18 and rate:4
book id: 137 book name: Bridget Jones's Diary (Bridget Jones #1) its price: 29.82 and rate:1
book id: 138 book name: Soumission its price: 50.1 and rate:1
book id: 139 book name: Private Paris (Private #10) its price: 47.61 and rate:5
book id: 140 book name: We Love You, Charlie Freeman its price: 50.27 and rate:5
book id: 141 book name: Thirst its price: 17.27 and rate:5
book id: 142 book name: The Murder That Never Was (Forensic Instincts #5) its price: 54.11 and rate:3
book id: 143 book name: Tuesday Nights in 1980 its price: 21.04 and rate:2
book id: 144 book name: The Vacationers its price: 42.15 and rate:4
book id: 145 book name: The Regional Office Is Under Attack! its price: 51.36 and rate:5
book id: 146 book name: Finders Keepers (Bill Hodges Trilogy #2) its price: 53.53 and rate:5
book id: 147 book name: The Time Keeper its price: 27.88 and rate:5
book id: 148 book name: The Testament of Mary its price: 52.67 and rate:4
book id: 149 book name: The First Hostage (J.B. Collins #2) its price: 25.85 and rate:3
book id: 150 book name: Take Me with You its price: 45.21 and rate:3
book id: 151 book name: Still Life with Bread Crumbs its price: 26.41 and rate:3
book id: 152 book name: Shtum its price: 55.84 and rate:4
book id: 153 book name: My Name Is Lucy Barton its price: 41.56 and rate:1
book id: 154 book name: My Mrs. Brown its price: 24.48 and rate:3
book id: 155 book name: Mr. Mercedes (Bill Hodges Trilogy #1) its price: 28.9 and rate:1
book id: 156 book name: I Am Pilgrim (Pilgrim #1) its price: 10.6 and rate:4
book id: 157 book name: Eligible (The Austen Project #4) its price: 27.09 and rate:3
book id: 158 book name: Birdsong: A Story in Pictures its price: 54.64 and rate:3
book id: 159 book name: The Bear and the Piano its price: 36.89 and rate:1
book id: 160 book name: The Secret of Dreadwillow Carse its price: 56.13 and rate:1
book id: 161 book name: The White Cat and the Monk: A Retelling of the Poem âPangur BÃ¡nâ its price: 58.08 and rate:4
book id: 162 book name: Little Red its price: 13.47 and rate:3
book id: 163 book name: Walt Disney's Alice in Wonderland its price: 12.96 and rate:5
book id: 164 book name: Twenty Yawns its price: 22.08 and rate:2
book id: 165 book name: Rain Fish its price: 23.57 and rate:3
book id: 166 book name: Once Was a Time its price: 18.28 and rate:2
book id: 167 book name: Luis Paints the World its price: 53.95 and rate:3
book id: 168 book name: Nap-a-Roo its price: 25.08 and rate:1
book id: 169 book name: The Whale its price: 35.96 and rate:4
book id: 170 book name: Shrunken Treasures: Literary Classics, Short, Sweet, and Silly its price: 52.87 and rate:3
book id: 171 book name: Raymie Nightingale its price: 34.41 and rate:2
book id: 172 book name: Playing from the Heart its price: 32.38 and rate:1
book id: 173 book name: Maybe Something Beautiful: How Art Transformed a Neighborhood its price: 22.54 and rate:1
book id: 174 book name: The Wild Robot its price: 56.07 and rate:3
book id: 175 book name: The Thing About Jellyfish its price: 48.77 and rate:1
book id: 176 book name: The Lonely Ones its price: 43.59 and rate:5
book id: 177 book name: The Day the Crayons Came Home (Crayons) its price: 26.33 and rate:5
book id: 178 book name: Don't Be a Jerk: And Other Practical Advice from Dogen, Japan's Greatest Zen Master its price: 37.97 and rate:2
book id: 179 book name: You Are What You Love: The Spiritual Power of Habit its price: 21.87 and rate:4
book id: 180 book name: God: The Most Unpleasant Character in All Fiction its price: 30.03 and rate:5
book id: 181 book name: The Book of Mormon its price: 24.57 and rate:3
book id: 182 book name: A History of God: The 4,000-Year Quest of Judaism, Christianity, and Islam its price: 27.62 and rate:1
book id: 183 book name: The Bhagavad Gita its price: 57.49 and rate:3
book id: 184 book name: Choosing Our Religion: The Spiritual Lives of America's Nones its price: 28.42 and rate:4
book id: 185 book name: Worlds Elsewhere: Journeys Around Shakespeareâs Globe its price: 40.3 and rate:5
book id: 186 book name: The Five Love Languages: How to Express Heartfelt Commitment to Your Mate its price: 31.05 and rate:3
book id: 187 book name: Reasons to Stay Alive its price: 26.41 and rate:2
book id: 188 book name: #HigherSelfie: Wake Up Your Life. Free Your Soul. Find Your Tribe. its price: 23.11 and rate:5
book id: 189 book name: Unseen City: The Majesty of Pigeons, the Discreet Charm of Snails & Other Wonders of the Urban Wilderness its price: 44.18 and rate:4
book id: 190 book name: Throwing Rocks at the Google Bus: How Growth Became the Enemy of Prosperity its price: 31.12 and rate:3
book id: 191 book name: The Life-Changing Magic of Tidying Up: The Japanese Art of Decluttering and Organizing its price: 16.77 and rate:3
book id: 192 book name: The Gutsy Girl: Escapades for Your Life of Epic Adventure its price: 37.13 and rate:1
book id: 193 book name: The Electric Pencil: Drawings from Inside State Hospital No. 3 its price: 56.06 and rate:1
book id: 194 book name: Spark Joy: An Illustrated Master Class on the Art of Organizing and Tidying Up its price: 41.83 and rate:4
book id: 195 book name: Reskilling America: Learning to Labor in the Twenty-First Century its price: 19.83 and rate:2
book id: 196 book name: In the Country We Love: My Family Divided its price: 22.0 and rate:4
book id: 197 book name: Everydata: The Misinformation Hidden in the Little Data You Consume Every Day its price: 54.35 and rate:2
book id: 198 book name: Call the Nurse: True Stories of a Country Nurse on a Scottish Isle its price: 29.14 and rate:5
book id: 199 book name: Algorithms to Live By: The Computer Science of Human Decisions its price: 30.81 and rate:1
book id: 200 book name: The Power of Now: A Guide to Spiritual Enlightenment its price: 43.54 and rate:2
book id: 201 book name: The Omnivore's Dilemma: A Natural History of Four Meals its price: 38.21 and rate:2
book id: 202 book name: The Genius of Birds its price: 17.24 and rate:1
book id: 203 book name: The Artist's Way: A Spiritual Path to Higher Creativity its price: 38.49 and rate:5
book id: 204 book name: So You've Been Publicly Shamed its price: 12.23 and rate:2
book id: 205 book name: Rip it Up and Start Again its price: 35.02 and rate:5
book id: 206 book name: Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991 its price: 57.25 and rate:3
book id: 207 book name: How Music Works its price: 37.32 and rate:2
book id: 208 book name: Love Is a Mix Tape (Music #1) its price: 18.03 and rate:1
book id: 209 book name: Please Kill Me: The Uncensored Oral History of Punk its price: 31.19 and rate:4
book id: 210 book name: Kill 'Em and Leave: Searching for James Brown and the American Soul its price: 45.05 and rate:5
book id: 211 book name: Chronicles, Vol. 1 its price: 52.6 and rate:2
book id: 212 book name: This Is Your Brain on Music: The Science of a Human Obsession its price: 38.4 and rate:1
book id: 213 book name: Orchestra of Exiles: The Story of Bronislaw Huberman, the Israel Philharmonic, and the One Thousand Jews He Saved from Nazi Horrors its price: 12.36 and rate:3
book id: 214 book name: No One Here Gets Out Alive its price: 20.02 and rate:5
book id: 215 book name: Life its price: 31.58 and rate:5
book id: 216 book name: Old Records Never Die: One Man's Quest for His Vinyl and His Past its price: 55.66 and rate:2
book id: 217 book name: Forever Rockers (The Rocker #12) its price: 28.8 and rate:3
book id: 218 book name: The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull its price: 17.93 and rate:3
book id: 219 book name: The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics its price: 22.6 and rate:4
book id: 220 book name: Starving Hearts (Triangular Trade Trilogy, #1) its price: 13.99 and rate:2
book id: 221 book name: America's Cradle of Quarterbacks: Western Pennsylvania's Football Factory from Johnny Unitas to Joe Montana its price: 22.5 and rate:3
book id: 222 book name: Aladdin and His Wonderful Lamp its price: 53.13 and rate:3

In [11]:
#08) Write a sql query to update book's rate to 3 that thier price < 20£


connection=sqlite3.connect('books.db')

cur = connection.cursor()
# Insert data

cur.execute("update book_price_rate set rate=3 where price<20")



# Save (commit) the changes
connection.commit()

connection.close()

In [12]:
#checking if executed
connection=sqlite3.connect('books.db')
rows=connection.execute("select * from book_price_rate where price<20").fetchall()
connection.close()
if rows==[]:
    print('Data Doesnt exist')
else:    
    for id1,book,price,rate  in rows :
        print(f'book id: {id1} book name: {book} its price: {price} and rate:{rate} ')

book id: 12 book name: In a Dark, Dark Wood its price: 19.63 and rate:3
book id: 14 book name: A Murder in Time its price: 16.64 and rate:3
book id: 17 book name: That Darkness (Gardiner and Renner #1) its price: 13.92 and rate:3
book id: 18 book name: Tastes Like Fear (DI Marnie Rome #3) its price: 10.69 and rate:3
book id: 20 book name: A Study in Scarlet (Sherlock Holmes #1) its price: 16.73 and rate:3
book id: 24 book name: Hide Away (Eve Duncan #20) its price: 11.84 and rate:3
book id: 27 book name: Playing with Fire its price: 13.71 and rate:3
book id: 40 book name: Lilac Girls its price: 17.28 and rate:3
book id: 41 book name: The Constant Princess (The Tudor Court #1) its price: 16.62 and rate:3
book id: 52 book name: Tsubasa: WoRLD CHRoNiCLE 2 (Tsubasa WoRLD CHRoNiCLE #2) its price: 16.28 and rate:3
book id: 53 book name: This One Summer its price: 19.49 and rate:3
book id: 57 book name: Princess Jellyfish 2-in-1 Omnibus, Vol. 01 (Princess Jellyfish 2-in-1 Omnibus #1) its price: 13.61 and rate:3
book id: 58 book name: Pop Gun War, Volume 1: Gift its price: 18.97 and rate:3
book id: 59 book name: Patience its price: 10.16 and rate:3
book id: 60 book name: Outcast, Vol. 1: A Darkness Surrounds Him (Outcast #1) its price: 15.44 and rate:3
book id: 64 book name: Lumberjanes Vol. 3: A Terrible Plan (Lumberjanes #9-12) its price: 19.92 and rate:3
book id: 70 book name: Camp Midnight its price: 17.08 and rate:3
book id: 71 book name: The Secret Garden its price: 15.08 and rate:3
book id: 74 book name: The Hound of the Baskervilles (Sherlock Holmes #5) its price: 14.82 and rate:3
book id: 79 book name: Wuthering Heights its price: 17.73 and rate:3
book id: 90 book name: Sophie's World its price: 15.94 and rate:3
book id: 92 book name: The Stranger its price: 17.44 and rate:3
book id: 104 book name: First and First (Five Boroughs #3) its price: 15.97 and rate:3
book id: 108 book name: Something More Than This its price: 16.24 and rate:3
book id: 115 book name: A Gentleman's Position (Society of Gentlemen #3) its price: 14.75 and rate:3
book id: 119 book name: Dark Lover (Black Dagger Brotherhood #1) its price: 12.87 and rate:3
book id: 120 book name: Changing the Game (Play by Play #2) its price: 13.38 and rate:3
book id: 122 book name: Will You Won't You Want Me? its price: 13.86 and rate:3
book id: 126 book name: Some Women its price: 13.73 and rate:3
book id: 135 book name: I've Got Your Number its price: 19.69 and rate:3
book id: 136 book name: The Edge of Reason (Bridget Jones #2) its price: 19.18 and rate:3
book id: 141 book name: Thirst its price: 17.27 and rate:3
book id: 156 book name: I Am Pilgrim (Pilgrim #1) its price: 10.6 and rate:3
book id: 162 book name: Little Red its price: 13.47 and rate:3
book id: 163 book name: Walt Disney's Alice in Wonderland its price: 12.96 and rate:3
book id: 166 book name: Once Was a Time its price: 18.28 and rate:3
book id: 191 book name: The Life-Changing Magic of Tidying Up: The Japanese Art of Decluttering and Organizing its price: 16.77 and rate:3
book id: 195 book name: Reskilling America: Learning to Labor in the Twenty-First Century its price: 19.83 and rate:3
book id: 202 book name: The Genius of Birds its price: 17.24 and rate:3
book id: 204 book name: So You've Been Publicly Shamed its price: 12.23 and rate:3
book id: 208 book name: Love Is a Mix Tape (Music #1) its price: 18.03 and rate:3
book id: 213 book name: Orchestra of Exiles: The Story of Bronislaw Huberman, the Israel Philharmonic, and the One Thousand Jews He Saved from Nazi Horrors its price: 12.36 and rate:3
book id: 218 book name: The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull its price: 17.93 and rate:3
book id: 220 book name: Starving Hearts (Triangular Trade Trilogy, #1) its price: 13.99 and rate:3
book id: 224 book name: Maude (1883-1993):She Grew Up with the country its price: 18.02 and rate:3
book id: 241 book name: The Project its price: 10.65 and rate:3
book id: 246 book name: The Restaurant at the End of the Universe (Hitchhiker's Guide to the Galaxy #2) its price: 10.92 and rate:3
book id: 247 book name: Ready Player One its price: 19.07 and rate:3
book id: 259 book name: The Torch Is Passed: A Harding Family Story its price: 19.09 and rate:3
book id: 262 book name: On a Midnight Clear its price: 14.07 and rate:3
book id: 279 book name: Unicorn Tracks its price: 18.78 and rate:3
book id: 281 book name: Princess Between Worlds (Wide-Awake Princess #5) its price: 13.34 and rate:3
book id: 306 book name: Set Me Free its price: 17.46 and rate:3
book id: 308 book name: Obsidian (Lux #1) its price: 14.86 and rate:3
book id: 315 book name: Wild Swans its price: 14.36 and rate:3
book id: 323 book name: The Epidemic (The Program 0.6) its price: 14.44 and rate:3
book id: 331 book name: The Origin of Species its price: 10.01 and rate:3
book id: 332 book name: The Grand Design its price: 13.76 and rate:3
book id: 333 book name: Peak: Secrets from the New Science of Expertise its price: 16.28 and rate:3
book id: 334 book name: The Elegant Universe: Superstrings, Hidden Dimensions, and the Quest for the Ultimate Theory its price: 13.03 and rate:3
book id: 345 book name: Untitled Collection: Sabbath Poems 2014 its price: 14.27 and rate:3
book id: 346 book name: Poems That Make Grown Women Cry its price: 14.19 and rate:3
book id: 354 book name: The Collected Poems of W.B. Yeats (The Collected Works of W.B. Yeats #1) its price: 15.42 and rate:3
book id: 356 book name: Booked its price: 17.49 and rate:3
book id: 358 book name: Vampire Knight, Vol. 1 (Vampire Knight #1) its price: 15.4 and rate:3
book id: 363 book name: History of Beauty its price: 10.29 and rate:3
book id: 367 book name: The Lucifer Effect: Understanding How Good People Turn Evil its price: 10.4 and rate:3
book id: 374 book name: The Argonauts its price: 10.93 and rate:3
book id: 378 book name: Running with Scissors its price: 12.91 and rate:3
book id: 380 book name: Lust & Wonder its price: 11.87 and rate:3
book id: 384 book name: Fifty Shades Freed (Fifty Shades #3) its price: 15.36 and rate:3
book id: 386 book name: Old School (Diary of a Wimpy Kid #10) its price: 11.83 and rate:3
book id: 388 book name: Hyperbole and a Half: Unfortunate Situations, Flawed Coping Mechanisms, Mayhem, and Other Things That Happened its price: 14.75 and rate:3
book id: 398 book name: Pet Sematary its price: 10.56 and rate:3
book id: 404 book name: Night Shift (Night Shift #1-20) its price: 12.75 and rate:3
book id: 414 book name: The Age of Genius: The Seventeenth Century and the Birth of the Modern Mind its price: 19.73 and rate:3
book id: 418 book name: A Distant Mirror: The Calamitous 14th Century its price: 14.58 and rate:3
book id: 420 book name: Brilliant Beacons: A History of the American Lighthouse its price: 11.45 and rate:3
book id: 428 book name: The Guns of August its price: 14.54 and rate:3
book id: 433 book name: Mama Tried: Traditional Italian Cooking for the Screwed, Crude, Vegan, and Tattooed its price: 14.02 and rate:3
book id: 440 book name: It's All Easy: Healthy, Delicious Weeknight Meals in under 30 Minutes its price: 19.55 and rate:3
book id: 443 book name: My Kitchen Year: 136 Recipes That Saved My Life its price: 11.53 and rate:3
book id: 447 book name: The Moosewood Cookbook: Recipes from Moosewood Restaurant, Ithaca, New York its price: 12.34 and rate:3
book id: 449 book name: Naturally Lean: 125 Nourishing Gluten-Free, Plant-Based Recipes--All Under 300 Calories its price: 11.38 and rate:3
book id: 454 book name: Counted With the Stars (Out from Egypt #1) its price: 17.97 and rate:3
book id: 457 book name: The Third Wave: An Entrepreneurâs Vision of the Future its price: 12.61 and rate:3
book id: 468 book name: Louisa: The Extraordinary Life of Mrs. Adams its price: 16.85 and rate:3
book id: 473 book name: In Her Wake its price: 12.84 and rate:3
book id: 477 book name: The Guilty (Will Robie #4) its price: 13.82 and rate:3
book id: 479 book name: Give It Back its price: 18.32 and rate:3
book id: 483 book name: The Travelers its price: 15.77 and rate:3
book id: 487 book name: The Four Agreements: A Practical Guide to Personal Freedom its price: 17.66 and rate:3
book id: 493 book name: Logan Kade (Fallen Crest High #5.5) its price: 13.12 and rate:3
book id: 497 book name: You Are a Badass: How to Stop Doubting Your Greatness and Start Living an Awesome Life its price: 12.08 and rate:3
book id: 500 book name: The Girl You Left Behind (The Girl You Left Behind #1) its price: 15.79 and rate:3
book id: 515 book name: Dark Notes its price: 19.19 and rate:3
book id: 516 book name: The Long Shadow of Small Ghosts: Murder and Memory in an American City its price: 10.97 and rate:3
book id: 517 book name: book1 its price: 1.0 and rate:3
book id: 518 book name: book2 its price: 2.0 and rate:3
book id: 519 book name: book3 its price: 3.0 and rate:3
book id: 520 book name: book4 its price: 4.0 and rate:3
book id: 521 book name: book5 its price: 5.0 and rate:3

In [13]:
#09) Write a sql query to delete all books that have price > 50£ and has rate <= 2.


connection=sqlite3.connect('books.db')

cur = connection.cursor()
# Insert data

cur.execute("delete from book_price_rate where price>50 and rate <=2 ")



# Save (commit) the changes
connection.commit()

connection.close()

In [14]:
#checking if executed
connection=sqlite3.connect('books.db')
rows=connection.execute("select * from book_price_rate where price>50 and rate<=2").fetchall()
connection.close()
if rows==[]:
    print('Data Doesnt exist')
else:    
    for id1,book,price,rate  in rows :
        print(f'book id: {id1} book name: {book} its price: {price} and rate:{rate} ')

Data Doesnt exist

In [15]:
#10) Write a sql query to count the number of books that have 'Secret' in thier names and price
#between 10£ and 25£.

connection=sqlite3.connect('books.db')
rows=connection.execute("select count(BookTitle) from book_price_rate where BookTitle like '%Secret%' and price between 10 and 25").fetchall()
connection.close()
if rows==[]:
    print('Data Doesnt exist')
else:    
    print("the number of books that have 'Secret' in thier names and price between 10£ and 25£ is: ",rows[0][0])

the number of books that have 'Secret' in thier names and price between 10£ and 25£ is:  3

In [16]:
#11) Write a sql query to get the minimum & maximum price for all the books that have rate 5.

connection=sqlite3.connect('books.db')
rows=connection.execute("select min(price) from book_price_rate  where rate=5 ").fetchall()
connection.close()
if rows==[]:
    print('Data Doesnt exist')
else:    
    print("the minimum price of rate=5 : ",rows[0][0])
connection=sqlite3.connect('books.db')
rows=connection.execute("select max(price) from book_price_rate where rate=5 ").fetchall()
connection.close()
if rows==[]:
    print('Data Doesnt exist')
else:    
    print("the maximum price of rate=5 : ",rows[0][0])

the minimum price of rate=5 :  20.02
the maximum price of rate=5 :  59.04

In [17]:
#12) Write a sql query to calculate the avg price for all the books that have rate 5.

connection=sqlite3.connect('books.db')
rows=connection.execute("select avg(price) from book_price_rate where rate=5 ").fetchall()
connection.close()

if rows==[]:
    print('Data Doesnt exist')
else:    
    print("the avg price for all the books that have rate 5 : ",rows[0][0])

the avg price for all the books that have rate 5 :  40.41082352941176

In [18]:
#13) Write a sql query to sum all book's price that have rate 2 and price between 10 and 40

connection=sqlite3.connect('books.db')
rows=connection.execute("select sum(price) from book_price_rate where rate=2 and price between 10 and 40 ").fetchall()
connection.close()

if rows==[]:
    print('Data Doesnt exist')
else:    
    print("the sum of all book's price that have rate 2 and price between 10 and 40: ",rows[0][0])

the sum of all book's price that have rate 2 and price between 10 and 40:  1333.4900000000002

In [19]:
# 14) Write a sql query to join both books & categories table into one new table containing
#book_name & category_name & book_rate and book_price
import sqlite3
connection=sqlite3.connect('books.db')
rows=connection.execute("SELECT book_price_rate.BookTitle, book_price_rate.price, book_price_rate.rate, categories_and_books.BookTitle, book_categ.Category FROM book_price_rate FULL OUTER JOIN book_categ ON book_price_rate.BookTitle=book_categ.BookTitle ").fetchall()
connection.close()

if rows==[]:
    print('Data Doesnt exist')
else:    
    print("the sum of all book's price that have rate 2 and price between 10 and 40: ",rows[0][0])

OperationalError: RIGHT and FULL OUTER JOINs are not currently supported

In [20]:
#15) Write a sql query to calculate how many books each rate has and have price between 20£ and 30£


connection=sqlite3.connect('books.db')
rows=connection.execute("select rate, count(BookTitle) from book_price_rate where price between 20 and 30 group by rate").fetchall()
connection.close()

if rows==[]:
    print('Data Doesnt exist')
else:    
    for rate,count in rows :
        print(f'rate: {rate} its count: {count} ')

rate: 1 its count: 31
rate: 2 its count: 17
rate: 3 its count: 23
rate: 4 its count: 17
rate: 5 its count: 21

In [23]:
#16) Write a sql query to calculate how many books each category has having count > 10.

connection=sqlite3.connect('books.db')
rows=connection.execute("select category, count(BookTitle) from book_categ").fetchall()
connection.close()

if rows==[]:
    print('Data Doesnt exist')
else:    
    for  category, count in rows :
        print(f' category: {category} its count: {count} ')

 category: Travel its count: 517

In [30]:
#17) Write a sql query to get all books with category_name='Music' using subquery.

connection=sqlite3.connect('books.db')
rows=connection.execute("select *from book_categ where Category=(select category from book_categ where category='Music')").fetchall()
connection.close()

if rows==[]:
    print('Data Doesnt exist')
else:    
    for id2,book,categ  in rows :
        print(f'book id: {id2} book name: {book} its category: {categ} ')

book id: 205 book name: Rip it Up and Start Again its category: Music
book id: 206 book name: Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991 its category: Music
book id: 207 book name: How Music Works its category: Music
book id: 208 book name: Love Is a Mix Tape (Music #1) its category: Music
book id: 209 book name: Please Kill Me: The Uncensored Oral History of Punk its category: Music
book id: 210 book name: Kill 'Em and Leave: Searching for James Brown and the American Soul its category: Music
book id: 211 book name: Chronicles, Vol. 1 its category: Music
book id: 212 book name: This Is Your Brain on Music: The Science of a Human Obsession its category: Music
book id: 213 book name: Orchestra of Exiles: The Story of Bronislaw Huberman, the Israel Philharmonic, and the One Thousand Jews He Saved from Nazi Horrors its category: Music
book id: 214 book name: No One Here Gets Out Alive its category: Music
book id: 215 book name: Life its category: Music
book id: 216 book name: Old Records Never Die: One Man's Quest for His Vinyl and His Past its category: Music
book id: 217 book name: Forever Rockers (The Rocker #12) its category: Music

In [28]:
# read db using pandas
import pandas as pd
connection = sqlite3.connect('books.db')

df1 = pd.read_sql_query("SELECT * FROM book_price_rate", connection)

df2 = pd.read_sql_query("SELECT * FROM book_categ", connection)


connection.close()

display(df1)
display(df2)

      id                                          BookTitle  Price  Rate
0      0                            It's Only the Himalayas  45.17     2
1      1  Full Moon over Noahâs Ark: An Odyssey to Mou...  49.43     4
2      2  See America: A Celebration of Our National Par...  48.87     3
3      3  Vagabonding: An Uncommon Guide to the Art of L...  36.94     2
4      4                               Under the Tuscan Sun  37.33     3
..   ...                                                ...    ...   ...
475  517                                              book1   1.00     3
476  518                                              book2   2.00     3
477  519                                              book3   3.00     3
478  520                                              book4   4.00     3
479  521                                              book5   5.00     3

[480 rows x 4 columns]

      id                                          BookTitle  Category
0      0                            It's Only the Himalayas    Travel
1      1  Full Moon over Noahâs Ark: An Odyssey to Mou...    Travel
2      2  See America: A Celebration of Our National Par...    Travel
3      3  Vagabonding: An Uncommon Guide to the Art of L...    Travel
4      4                               Under the Tuscan Sun    Travel
..   ...                                                ...       ...
512  512  Why the Right Went Wrong: Conservatism--From G...  Politics
513  513  Equal Is Unfair: America's Misguided Fight Aga...  Politics
514  514                                     Amid the Chaos  Cultural
515  515                                         Dark Notes   Erotica
516  516  The Long Shadow of Small Ghosts: Murder and Me...     Crime

[517 rows x 3 columns]