# Let's test your knowledge!

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [9]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [8]:
d = {'k1':{'k2':'hello'}}
# Grab(Get) 'hello'

d['k1']['k2']

'hello'

In [22]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab(Get) hello

get=d['k1'][0]['nest_key'][1][0]
print(get)

hello

In [30]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

#Get hello

get_hello=d['k1'][2]['k2'][1]['tough'][2][0]
print(get_hello)

hello

## sets

Use a set to find the unique values of the list below:

In [34]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

s1=set(list5)

s1

{1, 2, 3, 4, 11, 22, 33}

**Use <code>for</code>, .split(), and <code>if</code> to create a Statement that will print out words that start with 's':**

In [36]:
st = 'Print only the words that start with s in this sentence'

In [37]:
words=st.split()
for word in words:
    if word[0]=="s":
        print(word)

start
s
sentence

______
**Use range() to print all the even numbers from 0 to 10.**

In [38]:
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

___
**Use a List Comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.**

In [43]:
#Code in this cell
[]
l=[i for i in range(1,50) if i%3 == 0]
l

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

_____
**Go through the string below and if the length of a word is even print "even!"**

In [45]:
st = 'Print every word in this sentence that has an even number of letters'

In [47]:
#Code in this cell
words=st.split()
print(words)
for i in words:
    if len(i) %2==0:
        print(i)

['Print', 'every', 'word', 'in', 'this', 'sentence', 'that', 'has', 'an', 'even', 'number', 'of', 'letters']
word
in
this
sentence
that
an
even
number
of

____
**Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".**

In [54]:
#Code in this cell
for i in range(1,100):
    if i%3==0:
        print("Fizz")
    elif i%5==0:
        print("Buzz")
    elif(i%3==0 & i%5==0):
        print("FizzBuzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
Fizz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
Fizz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
Fizz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
Fizz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
Fizz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz

____
**Use List Comprehension to create a list of the first letters of every word in the string below:**

In [51]:
st = 'Create a list of the first letters of every word in this string'

In [52]:
#Code in this cell
words= st.split()
l=[i[0] for i in words ]
l

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

### Great Job!