In [14]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import sqlite3

domain='https://books.toscrape.com/'
soup=BeautifulSoup(requests.get(domain).text,'html.parser')


rates_dic={'Zero':0,'One':1,'Two':2,'Three':3,'Four':4,'Five':5}

In [18]:
for li_cat in soup.find('div',attrs={'class':'side_categories'}).find('ul',attrs={"class":"nav nav-list"}).find('ul').find_all('li'):
    soup_cat=BeautifulSoup(requests.get(domain+li_cat.find('a').get('href')).text,'html.parser')
    category=li_cat.get_text().strip()
    for li in soup.find_all('article',attrs={'class':'product_pod'}):
        name=li.find('h3').find('a').get('title')
        rate=rates_dic[li.find('p').get('class')[1]]
        price=float(li.find('p',attrs={'class':'price_color'}).get_text()[2:])
        connections = sqlite3.connect('books.db')
        curcor=connections.execute('insert into books (name_of_book , category , rate , price ) values (?,?,?,?)' ,[name,category,rate,price])
        connections.commit()
    
        
    url=domain+li_cat.find('a').get('href')


while (soup_cat.find('li',attrs={'class':'next'})):
    soup_cat=BeautifulSoup(requests.get(url[:url.rfind('/')+1]+soup.find('li',attrs={'class':'next'}).find('a').get('href')).text,'html.parser')
    for li in soup.find_all('article',attrs={'class':'product_pod'}):
        name=li.find('h3').find('a').get('title')
        rate=rates_dic[li.find('p').get('class')[1]]
        price=float(li.find('p',attrs={'class':'price_color'}).get_text()[2:])
        connections = sqlite3.connect('Users\mega\Downloads\Documents\books.db')
        connections.execute('insert into books (name_of_book,category,rate,price) values (?,?,?,?)' ,[name,category,rate,price])
        connections.commit()

In [19]:
df = pd.read_csv('books.csv')
df

,id,name_of_book,category,rate,price
0,1,A Light in the Attic,Travel,3,51.77
1,2,Tipping the Velvet,Travel,1,53.74
2,3,Soumission,Travel,1,50.10
3,4,Sharp Objects,Travel,4,47.82
4,5,Sapiens: A Brief History of Humankind,Travel,5,54.23
...,...,...,...,...,...
1207,1208,Our Band Could Be Your Life: Scenes from the A...,Crime,3,57.25
1208,1209,Olio,Crime,1,23.88
1209,1210,Mesaerion: The Best Science Fiction Stories 18...,Crime,1,37.59
1210,1211,Libertarianism for Beginners,Crime,2,51.33
1211,1212,It's Only the Himalayas,Crime,2,45.17